In [30]:
import pandas as pd
from scipy.stats import shapiro
import seaborn as sns

In [31]:
desktop_users = [
    12, 15, 18, 16, 20, 17, 14, 22, 19, 21,
    23, 18, 25, 17, 16, 24, 20, 19, 22, 18,
    15, 14, 23, 16, 12, 21, 19, 17, 20, 14
]

mobile_users = [
    10, 12, 14, 13, 16, 15, 11, 17, 14, 16,
    18, 14, 20, 15, 14, 19, 16, 15, 17, 14,
    12, 11, 18, 15, 10, 16, 15, 13, 16, 11
]

In [32]:
shapiro_desktop = shapiro(desktop_users)
shapiro_mobile = shapiro(mobile_users)

In [33]:
shapiro_mobile

ShapiroResult(statistic=np.float64(0.9714355768676655), pvalue=np.float64(0.5791606602037616))

In [34]:
shapiro_desktop

ShapiroResult(statistic=np.float64(0.9783115512411942), pvalue=np.float64(0.7791003299808725))

In [35]:
# compare variance of both data
from scipy.stats import levene
levene_test = levene(desktop_users,mobile_users)
levene_test

LeveneResult(statistic=np.float64(2.94395488191752), pvalue=np.float64(0.09153720526741761))

In [36]:
# if leven p_value is less than 0.05 than variance of both data is not equal
# in our case its > 0.05 i.e(0.09153720526741761)
# so variance our both data is equal

# Case study on titanic

In [37]:
df = sns.load_dataset('titanic')

In [38]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [39]:
pop_male = df[df['sex']=='male']['age'].dropna()
pop_female = df[df['sex']=='female']['age'].dropna()

In [40]:
sample_male = pop_male.sample(25)
sample_female = pop_female.sample(25)

In [41]:
alpha = 0.05

In [42]:
# Ho average age of female = average age of male
# Ha average age of female < average age of male
# alpha = 0.05

In [43]:
from scipy.stats import shapiro
shapiro(sample_male)

ShapiroResult(statistic=np.float64(0.9536508581759959), pvalue=np.float64(0.30250375387653755))

In [44]:
shapiro(sample_female)

ShapiroResult(statistic=np.float64(0.9472113020375216), pvalue=np.float64(0.2167673577214746))

In [45]:
# since both p_values of shapiro test > 0.05 than
# so it means they are normal distribution

In [46]:
from scipy.stats import levene
levene(sample_female,sample_male)

LeveneResult(statistic=np.float64(0.36653270848242414), pvalue=np.float64(0.5477523206776438))

In [47]:
# again p_value > 0.05 so there variance is same

In [50]:
 import scipy.stats as stats
 t_statistic,p_value = stats.ttest_ind(sample_female,sample_male)
 print(t_statistic)
 print(p_value/2)

-0.644555158795983
0.2611420494795029

In [ ]:
# since p_value > 0.05 than we cant reject null hypothesis