In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df  = sns.load_dataset('titanic')

In [3]:
# Ho -> the mean age is 35
# Ha -> the mean age is less than 35

In [8]:
sample_age = df['age'].dropna().sample(25).values

In [10]:
from scipy.stats import shapiro
shapiro_age = shapiro(sample_age)
shapiro_age

ShapiroResult(statistic=np.float64(0.9224757767792545), pvalue=np.float64(0.058353547250764026))

In [11]:
# if this pvalue=np.float64(0.058353547250764026))
# < 0.05 than we can say that data is not normal
# else we can say it is normal

In [12]:
import scipy.stats as stats
t_statistic,p_value = stats.ttest_1samp(sample_age,35)
print(t_statistic)
print(p_value/2)

-3.630134182995303
0.0013337029523878994

In [14]:
p_value/2

np.float64(0.0006668514761939497)

In [ ]:
# since p_value(0.0006668514761939497) < 0.05 than we can reject null hypothesis