In [ ]:
import pandas as pd
import numpy as np

# DATA ANALYSIS

STEPS

STEP 1: ASKING QUESTIONS

STEP 2: DATA WRANGLING(DATA CLEANING)

DATA GATHERING

- CSV

- API

- WEBSCRAPING

- DATABASES


ASSESSING DATA

- find no columns/rows

- info()

- duplicates

- describe()

CLEANING DATA

- missing data (remove/keep)

- duplicate (remove/keep)

- incorrect data type

Step 3: exploratory data analysis

- Explore

1. find correlation and covariance

2. doing univariate / bivariate analysis

3. plotting graphs

- Augment

1. removing outlier

2. merging data

3. add new column

Step 4: Drawing conclusions

- machine learning

- inferential statistics

- descriptive statistics

Step 5: Comumnicating results/story telling

- in person

- blog post

- reports

- ppts/slide decks

# Reading files using read_

In [ ]:
df = pd.read_csv('datasets/aug_train.csv')
df

# opening csv file from url

In [ ]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers={"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url,headers=headers)
data = StringIO(req.text)
pd.read_csv(data)

# Sep parameter

In [ ]:
pd.read_csv('datasets/movie_titles_metadata.tsv',sep='\t',names=['sno','name','release_year','rating','votes','genres'])

# index_col parameter

In [ ]:
pd.read_csv('datasets/aug_train.csv',index_col='enrollee_id')

# header parameter

In [ ]:
pd.read_csv('datasets/test.csv',header=1)

# use cols parameter

In [ ]:
pd.read_csv('datasets/aug_train.csv',usecols=['enrollee_id','gender','education_level'])

# squeeze parameter

In [ ]:
pd.read_csv('datasets/aug_train.csv',usecols=['gender']).squeeze('columns')

# skip rows/nrows parameter

In [ ]:
 pd.read_csv('datasets/aug_train.csv',skiprows=[0])# skip the rows

In [ ]:
 pd.read_csv('datasets/aug_train.csv',nrows=50)# show only n number of rows

# Encoding Parameter

In [ ]:
pd.read_csv('datasets/zomato.csv',encoding='latin-1')

# skip bad lines

In [ ]:
# suppose we have a data set which has in 1 row extra value in row than above values so it gives parser error
# so for this we do parameter error_bad_lines = True
# this would skip those lines

# dtypes parameter

In [ ]:
pd.read_csv('datasets/aug_train.csv',dtype={'target':int})

# handling dates

In [ ]:
pd.read_csv('datasets/IPL_Matches_2008_2022.csv',parse_dates=['Date']).info()
# using parse dates we can also combine different date cols like date,month,year so in parsedates we can pass list of cols and convert them in 1 col
# also use dict to rename that col

# converters

In [ ]:
def rename(name):
  if name == 'Royal Challengers Bangalore':
    return 'RCB'
  else:
    return name

In [ ]:
rename('Royal Challengers Bangalore')

In [ ]:
pd.read_csv('datasets/IPL_Matches_2008_2022.csv',converters={'Team1':rename})

# na_values parameter

In [ ]:
pd.read_csv('datasets/aug_train.csv',na_values=['Male']) # example usecase

# loading dataset in chunks

In [ ]:
dfs = pd.read_csv('datasets/aug_train.csv',chunksize=5000)

In [ ]:
for chunks in dfs:
  print(chunks.shape)

In [ ]:
pip install openpyxl

# Reading from excel

In [ ]:
pd.read_excel('datasets/ipl_batsman_stats_2sheets.xlsx')

In [ ]:
# read from 2nd sheet
pd.read_excel('datasets/ipl_batsman_stats_2sheets.xlsx',sheet_name='Detailed')

# reading text file

In [ ]:
pd.read_csv('datasets/sample_data.txt')

# Read json file

In [ ]:
pd.read_json('datasets/train.json')

In [ ]:
# # in case of url
# pd.read_json('url')

# working with sql

In [ ]:
 # pip install mysql.connector

In [ ]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world',port=3306)

In [ ]:
df = pd.read_sql_query('SELECT * FROM country ',conn)

In [ ]:
df.head()

# Pandas Export

In [ ]:
df = pd.DataFrame()

Pandas Export
- to csv
- to excel
- to html
- to json
- to sql

# to_csv

In [ ]:
df = pd.read_csv('datasets/deliveries.csv')
df.head()

In [ ]:
tmp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()

In [ ]:
tmp_df.to_csv('batsman_runs.csv',index=False)

In [ ]:
df.pivot_table(index='batsman',columns='bowling_team',values='batsman_runs',aggfunc='sum').to_csv('batsman_vs_team.csv')

# To excel

In [ ]:
tmp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()

In [ ]:
tmp_df.to_excel('batsman_runs.xlsx',sheet_name='batsman_runs')

tmp_df2 = df.pivot_table(index='batsman',columns='bowling_team',values='batsman_runs',aggfunc='sum')

In [ ]:
with pd.ExcelWriter('output.xlsx') as writer:
    tmp_df.to_excel(writer,sheet_name='Sheet_name_1')
    tmp_df2.to_excel(writer,sheet_name='Sheet_name_2')

# To html

In [ ]:
tmp_df = df.query('batsman_runs==6').pivot_table(index='over',columns='ball',values='batsman_runs',aggfunc='count')

In [ ]:
tmp_df.to_html('sixes.html')

# to json

In [ ]:
# batsman->teams->runs
df.pivot_table(index='batsman',columns='batting_team',values='batsman_runs',aggfunc='sum')

In [ ]:
df.head(1)

In [ ]:
df.groupby(['batting_team','batsman'])['batsman_runs'].sum().unstack().to_json('ipl.json')

# To sql

In [ ]:
pip install pymysql

In [ ]:
pip install sqlalchemy

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('mysql+pymysql://root:@localhost/ipl')
df.to_sql('ipl_delivery',con=engine,if_exists='append')

In [ ]:
tmp_df.to_sql('batsman_runs',con=engine)

# fetching data from API and storing in json dataframe

In [ ]:
import requests
import json

In [ ]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=ae8b77bedc431adaaa5cafdbb3815375&language=en-US&page=1&region=AT')

In [ ]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [ ]:
df.head()

In [ ]:
df = pd.DataFrame()

In [ ]:
for i in range(1,429):
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=ae8b77bedc431adaaa5cafdbb3815375&language=en-US&page={i}&region=AT')
    tmp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df,tmp_df],ignore_index=True)

In [ ]:
df

# Web scraping

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
pd.set_option('display.max_rows',None)

In [2]:
# pip install lxml

In [3]:

# headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
# webpage = requests.get('https://www.scrapethissite.com/pages/forms/?page_num=1',headers=headers).text

In [4]:

# headers = {
#     "User-Agent": "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 "
#                   "(KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36"
# }
# webpage = requests.get('https://clutch.co/in/developers?page=1',headers=headers).text

In [5]:
# soup = BeautifulSoup(webpage,'lxml')

In [14]:
final_df = pd.DataFrame()
for i in range(1,25):
    url = f'https://www.scrapethissite.com/pages/forms/?page_num={i}'
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url,headers=headers).text

    soup = BeautifulSoup(webpage,'lxml')

    team_name = [] 
    year = []
    wins = []
    losses = []
    win_percentage = []
    goals_for = []
    goals_against = []
    goal_differential = [] 

    team = soup.find_all('tr',class_='team')
    
    for i in team:
        team_name.append(i.find('td',class_='name').text.strip())
        year.append(i.find('td',class_='year').text.strip())
        wins.append(i.find('td',class_='wins').text.strip())
        losses.append(i.find('td',class_='losses').text.strip())
        
        # win_percentage.append(i.find('td',class_='pct text-success').text.strip())
    
    
        if i.find('td',class_='pct text-success')==None:
            win_percentage.append(i.find('td',class_='pct text-success'))
        else:
            win_percentage.append(i.find('td',class_='pct text-success').text.strip())
        
        
        goals_for.append(i.find('td',class_='gf').text.strip())
        goals_against.append(i.find('td',class_='ga').text.strip())
    
        
        # goal_differential.append(i.find('td',class_='diff text-success').text.strip())
    
        if i.find('td',class_='diff text-success')==None:
            goal_differential.append(i.find('td',class_='diff text-success'))
        else:
            goal_differential.append(i.find('td',class_='diff text-success').text.strip()) 
    
    d = {'Team':team_name,'Year':year,'Wins':wins,'Losses':losses,'Win%':win_percentage,'Goals For':goals_for,'Goals Against':goals_against,'+/-':goal_differential}
    df = pd.DataFrame(d)
    final_df = pd.concat([final_df,df],ignore_index=True)

In [15]:
# final_df

In [16]:
final_df.to_csv('hockey.csv',index=False)

In [17]:
url = f'https://www.glassdoor.co.in/Explore/browse-companies.htm?filterType=RATING_OVERALL&page=4&overall_rating_low=4'
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get(url,headers=headers).text

soup = BeautifulSoup(webpage,'lxml')