In [90]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows',None)
import re

In [3]:
df = pd.read_csv('audible_uncleaned.csv')

In [4]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [6]:
# df[df['name'].duplicated()]

In [7]:
df['author'].duplicated().sum()

np.int64(39115)

In [8]:
df['author'].drop_duplicates(keep='first',inplace=True)

In [9]:
df['author'].duplicated().sum()

np.int64(39115)

In [10]:
df['author'].drop_duplicates(keep='first').head()

0    Writtenby:GeronimoStilton
1        Writtenby:RickRiordan
2         Writtenby:JeffKinney
5     Writtenby:SuzanneCollins
6       Writtenby:WinterMorgan
Name: author, dtype: object

In [11]:
df[df['narrator'].duplicated()].head()

,name,author,narrator,time,releasedate,language,stars,price
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,02-05-17,English,5 out of 5 stars50 ratings,820.00
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820.00
10,"The Titan's Curse: Percy Jackson, Book 3",Writtenby:RickRiordan,Narratedby:JesseBernstein,8 hrs and 48 mins,14-01-10,English,4.5 out of 5 stars130 ratings,820.00
11,Magic Tree House Collection: Books 9-16,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,5 hrs and 23 mins,24-08-11,English,5 out of 5 stars6 ratings,"1,206.00"
12,Magic Tree House Collection: Books 1-8,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,6 hrs and 1 min,27-09-11,English,5 out of 5 stars7 ratings,"1,206.00"

In [12]:
df['time'].duplicated().sum()

np.int64(85205)

In [13]:
df['releasedate'].duplicated().sum()

np.int64(82431)

In [14]:
df['language'].duplicated().sum()

np.int64(87453)

In [15]:
df['stars'].duplicated().sum()

np.int64(86824)

In [16]:
df['price'].duplicated().sum()

np.int64(86478)

In [17]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [18]:
df['author'] = df['author'].str.extract(r':([A-Za-z]+)')

In [19]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [20]:
df['narrator'] = df['narrator'].str.extract(r':([A-Za-z]+)')

In [21]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [22]:
df['releasedate']=pd.to_datetime(df['releasedate'], format='%d-%m-%y', errors='coerce')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       83589 non-null  object
 2   narrator     83190 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 5.3+ MB

In [24]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00

In [25]:
# def convert_to_time(x):
#   if len(x.str.split()) == 5:
#     hours = x.str.split().str.get(0)
#     mins = x.str.split().str.get(3)
#     return pd.Timedelta(hours=int(hours),minutes=int(mins))
#   elif len(x.str.split()) == 2:
#     if x.str.split().str.get(1) == 'hrs':
#       return pd.Timedelta(hours=int(x.str.split().str.get(0)))
#   elif len(x.str.split()) == 2:
#     if x.str.split().str.get(1) == 'mins':
#       return pd.Timedelta(minutes=int(x.str.split().str.get(0)))

In [26]:
def convert_to_time(x):
  if len(x.split()) == 5:
    hours = x.split()[0]
    mins = x.split()[3]
    return pd.Timedelta(hours=int(hours),minutes=int(mins))
  elif len(x.split()) == 2:
    if x.split()[1] == 'hrs':
      return pd.Timedelta(hours=int(x.split()[0]))
    elif x.split()[1] == 'mins':
      return pd.Timedelta(minutes=int(x.split()[0]))

In [27]:
df['total_time']=df['time'].apply(convert_to_time)

In [28]:
df.head(2)

,name,author,narrator,time,releasedate,language,stars,price,total_time
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.00,0 days 02:20:00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,0 days 13:08:00

In [29]:
def extract_reviews(x):
  if len(x.split()) > 3:
    review = x.split()[0]
    return review
  else:
    review = 0
    return review

In [30]:
def extract_rating(x):
  if len(x.split()) > 3:
    rating = x.split()[4]
    return rating[5:]
  else:
    rating = 0
    return rating

In [31]:
df['reviews'] = df['stars'].apply(extract_reviews)

In [32]:
df['rating'] = df['stars'].apply(extract_rating)

In [33]:
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.00,0 days 02:20:00,5,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,0 days 13:08:00,4.5,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,0 days 02:03:00,4.5,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,0 days 11:16:00,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,0 days 10:00:00,4.5,181

In [34]:
df['price']=df['price'].str.replace(',','').replace('.','').replace('Free',0).astype(float)

In [35]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.0,0 days 02:20:00,5,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.0,0 days 13:08:00,4.5,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-11-06,English,4.5 out of 5 stars38 ratings,410.0,0 days 02:03:00,4.5,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-10-05,English,4.5 out of 5 stars12 ratings,615.0,0 days 11:16:00,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,0 days 10:00:00,4.5,181

In [36]:
df['reviews'] = df['reviews'].replace(',','').astype(float)

In [37]:
df['rating'] = df['rating'].str.replace(',','').astype(float)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       83589 non-null  object
 2   narrator     83190 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  float64
 8   total_time   86897 non-null  timedelta64[ns]
 9   reviews      87489 non-null  float64
 10  rating       15072 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6), timedelta64[ns](1)
memory usage: 7.3+ MB

In [39]:
df.describe()

,releasedate,price,total_time,reviews,rating
count,87489,87489.000000,86897,87489.000000,15072.000000
mean,2018-06-23 22:53:20.411480064,559.009246,0 days 07:00:12.570744674,0.767811,21.613190
min,1998-12-27 00:00:00,0.000000,0 days 00:02:00,0.000000,1.000000
25%,2016-09-06 00:00:00,268.000000,0 days 02:27:00,0.000000,1.000000
50%,2020-02-06 00:00:00,585.000000,0 days 06:29:00,0.000000,2.000000
75%,2021-08-17 00:00:00,755.000000,0 days 09:46:00,0.000000,7.000000
max,2025-11-14 00:00:00,7198.000000,5 days 23:15:00,5.000000,12573.000000
std,NaN,336.096642,0 days 06:04:18.210976124,1.709640,207.479634

In [40]:
df[df['price'].duplicated()].sample(5)

,name,author,narrator,time,releasedate,language,stars,price,total_time,reviews,rating
74070,Scot Under the Covers,SuzanneEnoch,MhairiMorrison,12 hrs and 5 mins,2021-04-06,English,Not rated yet,703.0,0 days 12:05:00,0.0,NaN
23699,"Human Heart, Cosmic Heart",Dr,DavidDrummond,4 hrs and 18 mins,2016-10-28,English,5 out of 5 stars1 rating,1172.0,0 days 04:18:00,5.0,1.0
65620,Radically Happy,PhakchokRinpoche,JuriHenley,5 hrs and 27 mins,2018-10-16,English,Not rated yet,754.0,0 days 05:27:00,0.0,NaN
79359,2011年1月4週目 ヴォイニッチの科学書,NaN,NaN,27 mins,2018-05-16,japanese,Not rated yet,139.0,0 days 00:27:00,0.0,NaN
15565,実説 城谷怪談「誰を待ってるの？」,NaN,NaN,26 mins,2022-03-29,japanese,Not rated yet,139.0,0 days 00:26:00,0.0,NaN

In [41]:
df.drop(columns=['time','stars'],inplace=True)

In [43]:
df.head()

,name,author,narrator,releasedate,language,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2008-08-04,English,468.0,0 days 02:20:00,5.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,2018-05-01,English,820.0,0 days 13:08:00,4.5,41.0
2,The Deep End,JeffKinney,DanRussell,2020-11-06,English,410.0,0 days 02:03:00,4.5,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,2021-10-05,English,615.0,0 days 11:16:00,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,2010-01-13,English,820.0,0 days 10:00:00,4.5,181.0

In [44]:
df['name'].duplicated().sum()

np.int64(4722)

In [48]:
df[df['name'].duplicated()].head(40)

,name,author,narrator,releasedate,language,price,total_time,reviews,rating
18,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,2017-05-02,English,1256.0,0 days 10:18:00,5.0,11.0
46,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,WalterLewis,2010-01-13,English,615.0,0 days 03:51:00,4.0,4.0
54,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,2017-05-02,English,1256.0,0 days 13:24:00,5.0,8.0
155,Barbie - Superprincesa,Mattel,VanessaP,2022-03-07,spanish,38.0,0 days 00:29:00,0.0,NaN
273,Barbie - Dreamtopia,Mattel,MiriamMonlleo,2022-01-31,catalan,38.0,0 days 00:21:00,0.0,NaN
338,The Jungle Book,RudyardKipling,GreatAmericanAudioStudioTalent,2008-09-02,English,501.0,0 days 03:31:00,0.0,NaN
509,Los Pitufos - Historias de Pitufos,Peyo,GuillermoMontoya,2022-01-17,spanish,153.0,0 days 02:26:00,0.0,NaN
510,Los Pitufos - Historias de 3 minutos,Peyo,GuillermoMontoya,2022-01-17,spanish,38.0,0 days 00:34:00,0.0,NaN
736,El monstruo marino secreto,Mattel,BeatrizOlcina,2022-03-11,spanish,115.0,0 days 00:29:00,0.0,NaN
756,Thomas y sus amigos - El rey de las vías,Mattel,Germ,2022-03-03,spanish,115.0,0 days 00:25:00,0.0,NaN
825,Barbie - La puerta secreta,Mattel,VanessaP,2022-03-07,spanish,38.0,0 days 00:12:00,0.0,NaN
827,Un viaje más allá de Sodor,Mattel,JuanDiegoRodriguez,2022-03-07,spanish,38.0,0 days 00:12:00,0.0,NaN
830,Barbie - Aventura en el espacio,Mattel,VanessaP,2022-03-07,spanish,38.0,0 days 00:13:00,0.0,NaN
860,The Jungle Book,RudyardKipling,CharlesMinx,2010-10-22,English,668.0,0 days 05:26:00,0.0,NaN
906,The Jungle Book,RudyardKipling,GildartJackson,2016-03-22,English,668.0,0 days 05:59:00,0.0,NaN
914,The Jungle Book,RudyardKipling,RhashanStone,2018-05-31,English,615.0,0 days 05:00:00,3.0,1.0
967,Black Beauty,AnnaSewell,RalphCosham,2011-12-22,English,668.0,0 days 05:21:00,4.0,1.0
968,The Count of Monte Cristo,AlexandreDumas,BillHomewood,2000-10-26,English,333.0,0 days 02:38:00,5.0,1.0
997,Winnie-the-Pooh,A,AlanBennett,2009-01-27,English,342.0,0 days 01:05:00,0.0,NaN
1006,The Jungle Book,RudyardKipling,TonyRobinson,2010-05-12,English,410.0,0 days 02:40:00,0.0,NaN
1149,Peter Pan,J,KitHarrington,2020-11-05,English,410.0,0 days 02:12:00,0.0,NaN
1304,Food,KathlynGay,Intuitive,2017-07-14,English,469.0,0 days 01:56:00,0.0,NaN
1450,Winnie-the-Pooh,A,JoshInnerst,2022-04-01,English,335.0,0 days 02:33:00,0.0,NaN
1463,Winnie-the-Pooh,A,FloGibson,2022-02-01,English,469.0,0 days 02:03:00,0.0,NaN
1516,Dogs,ChristinaMiaGardeski,anonymous,2022-03-01,English,82.0,0 days 00:03:00,0.0,NaN
1557,Insects,JanetRiehecky,anonymous,2022-02-25,English,93.0,0 days 00:18:00,0.0,NaN
1614,Winnie the Pooh,A,PatrickBarker,2022-02-02,English,335.0,0 days 02:38:00,0.0,NaN
1637,Winnie-the-Pooh,A,B,2022-03-17,English,164.0,0 days 02:37:00,0.0,NaN
1882,Egg Marks the Spot,AmyTimberlake,MichaelBoatman,2021-09-14,English,398.0,0 days 03:54:00,0.0,NaN
1945,The Christmasaurus,TomFletcher,TomFletcher,2021-10-28,English,410.0,0 days 00:07:00,0.0,NaN
2021,Birds,PamelaDell,anonymous,2022-03-03,English,93.0,0 days 00:18:00,0.0,NaN
2069,Giant Pandas,MariSchuh,anonymous,2022-03-01,English,82.0,NaT,0.0,NaN
2099,I Want a Dog,KimberlyM,Anonymous,2022-02-25,English,82.0,0 days 00:02:00,0.0,NaN
2162,Fish,LisaJ,anonymous,2022-02-23,English,93.0,0 days 00:18:00,0.0,NaN
2177,Lions,TammyGagne,anonymous,2022-02-21,English,82.0,0 days 00:08:00,0.0,NaN
2179,Polar Bears,JodyS,anonymous,2022-02-21,English,93.0,0 days 00:04:00,0.0,NaN
2188,Orangutans,JanetRiehecky,Anonymous,2022-02-23,English,93.0,0 days 00:27:00,0.0,NaN
2195,Camels,RoseDavin,Anonymous,2022-02-21,English,82.0,0 days 00:02:00,0.0,NaN
2196,Anacondas,GailSaunders,Anonymous,2022-02-21,English,82.0,0 days 00:02:00,0.0,NaN
2197,Hamsters,ChristinaMiaGardeski,anonymous,2022-02-21,English,82.0,0 days 00:03:00,0.0,NaN

In [51]:
df[df['narrator'].duplicated()].head(40)

,name,author,narrator,releasedate,language,price,total_time,reviews,rating
7,The Dark Prophecy,RickRiordan,RobbieDaymond,2017-05-02,English,820.0,0 days 12:32:00,5.0,50.0
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,2019-09-24,English,820.0,0 days 13:22:00,5.0,58.0
10,"The Titan's Curse: Percy Jackson, Book 3",RickRiordan,JesseBernstein,2010-01-14,English,820.0,0 days 08:48:00,4.5,130.0
11,Magic Tree House Collection: Books 9-16,MaryPopeOsborne,MaryPopeOsborne,2011-08-24,English,1206.0,0 days 05:23:00,5.0,6.0
12,Magic Tree House Collection: Books 1-8,MaryPopeOsborne,MaryPopeOsborne,2011-09-27,English,1206.0,0 days 06:01:00,5.0,7.0
16,Magic Tree House Collection,MaryPopeOsborne,MaryPopeOsborne,2004-12-26,English,1206.0,0 days 05:04:00,5.0,7.0
18,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,2017-05-02,English,1256.0,0 days 10:18:00,5.0,11.0
19,Neverseen,ShannonMessenger,CaitlinKelly,2018-11-06,English,1003.0,0 days 16:42:00,5.0,13.0
20,The Tower of Nero,RickRiordan,RobbieDaymond,2020-10-06,English,615.0,0 days 12:12:00,5.0,79.0
23,Geronimo Stilton 22 & 24,GeronimoStilton,BillLobley,2011-02-01,English,469.0,0 days 02:37:00,4.5,25.0
24,Percy Jackson and the Battle of the Labyrinth,RickRiordan,JesseBernstein,2010-01-21,English,820.0,0 days 10:32:00,5.0,101.0
26,Magic Tree House Collection: Books 25-32,MaryPopeOsborne,MaryPopeOsborne,2020-09-01,English,1256.0,0 days 07:09:00,5.0,3.0
27,Geronimo Stilton #20 and #21,GeronimoStilton,BillLobley,2010-10-01,English,469.0,0 days 02:32:00,5.0,18.0
29,Mystery of the Griefer's Mark,WinterMorgan,LukeDaniels,2014-11-25,English,233.0,0 days 01:53:00,5.0,9.0
30,Geronimo Stilton #17,GeronimoStilton,BillLobley,2009-07-13,English,468.0,0 days 02:28:00,5.0,8.0
31,The House at Pooh Corner,A,PeterDennis,2005-04-05,English,374.0,0 days 03:12:00,5.0,5.0
36,Geronimo Stilton #15 and #16,GeronimoStilton,BillLobley,2008-02-08,English,467.0,0 days 02:43:00,4.0,28.0
37,The Lost Heir,TuiT,ShannonMcManus,2016-02-04,English,575.0,0 days 07:23:00,5.0,9.0
38,Everblaze,ShannonMessenger,CaitlinKelly,2018-11-06,English,836.0,0 days 14:39:00,5.0,18.0
39,Treasure Hunters in Trouble,WinterMorgan,LukeDaniels,2015-03-31,English,668.0,0 days 01:58:00,5.0,7.0
40,Lodestar,ShannonMessenger,CaitlinKelly,2018-11-06,English,1003.0,0 days 16:31:00,5.0,19.0
42,The Ghost of Grey Fox Inn,CarolynKeene,JorjeanaMarie,2017-03-20,English,305.0,0 days 03:19:00,5.0,11.0
44,Flashback,ShannonMessenger,CaitlinKelly,2018-12-11,English,1170.0,0 days 23:09:00,5.0,12.0
47,Clash of the Creepers,WinterMorgan,LukeDaniels,2015-07-07,English,233.0,0 days 02:01:00,5.0,10.0
48,The Skeletons Strike Back,WinterMorgan,LukeDaniels,2015-07-07,English,233.0,0 days 02:01:00,5.0,7.0
49,Dragonslayer,TuiT,ShannonMcManus,2020-03-03,English,656.0,0 days 12:44:00,5.0,17.0
52,The Dark Secret,TuiT,ShannonMcManus,2016-07-01,English,575.0,0 days 07:35:00,5.0,9.0
54,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,2017-05-02,English,1256.0,0 days 13:24:00,5.0,8.0
56,Legacy,ShannonMessenger,CaitlinKelly,2019-11-05,English,1170.0,0 days 22:55:00,5.0,14.0
57,The Endermen Invasion,WinterMorgan,LukeDaniels,2015-05-26,English,233.0,0 days 02:02:00,5.0,5.0
59,You Only Die Twice,DanGutman,MichaelGoldstrom,2013-09-17,English,585.0,0 days 05:49:00,5.0,5.0
60,From Texas with Love,DanGutman,MichaelGoldstrom,2014-01-28,English,702.0,0 days 05:27:00,5.0,6.0
64,The Dragonet Prophecy,TuiT,ShannonMcManus,2012-07-01,English,820.0,0 days 08:32:00,5.0,11.0
65,Dangerous Gift,TuiT,ShannonMcManus,2021-03-02,English,445.0,0 days 07:51:00,5.0,9.0
67,Never Say Genius,DanGutman,MichaelGoldstrom,2013-08-23,English,585.0,0 days 05:27:00,5.0,8.0
68,The Madman of Black Bear Mountain,FranklinW,TimGregory,2016-06-07,English,305.0,0 days 02:54:00,5.0,3.0
69,Unicorn Academy: Zara and Moonbeam,JulieSykes,KristinAtherton,2022-03-10,English,266.0,0 days 01:35:00,0.0,NaN
73,Aru Shah and the Nectar of Immortality,RoshaniChokshi,SoneelaNankani,2022-04-05,English,821.0,0 days 11:19:00,0.0,NaN
82,Captain Underpants and the Sensational Saga of...,DavPilkey,LenForgione,2022-04-05,English,586.0,0 days 01:37:00,0.0,NaN
85,Rowley Jefferson's Awesome Friendly Spooky Sto...,JeffKinney,ChristopherGebauer,2021-03-16,English,410.0,0 days 01:29:00,3.5,7.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       83589 non-null  object
 2   narrator     83190 non-null  object
 3   releasedate  87489 non-null  datetime64[ns]
 4   language     87489 non-null  object
 5   price        87489 non-null  float64
 6   total_time   86897 non-null  timedelta64[ns]
 7   reviews      87489 non-null  float64
 8   rating       15072 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(4), timedelta64[ns](1)
memory usage: 6.0+ MB

In [55]:
df.head(20)

,name,author,narrator,releasedate,language,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2008-08-04,English,468.0,0 days 02:20:00,5.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,2018-05-01,English,820.0,0 days 13:08:00,4.5,41.0
2,The Deep End,JeffKinney,DanRussell,2020-11-06,English,410.0,0 days 02:03:00,4.5,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,2021-10-05,English,615.0,0 days 11:16:00,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,2010-01-13,English,820.0,0 days 10:00:00,4.5,181.0
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,2018-10-30,English,656.0,0 days 10:35:00,5.0,72.0
6,Quest for the Diamond Sword,WinterMorgan,LukeDaniels,2014-11-25,English,233.0,0 days 02:23:00,5.0,11.0
7,The Dark Prophecy,RickRiordan,RobbieDaymond,2017-05-02,English,820.0,0 days 12:32:00,5.0,50.0
8,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,2017-05-02,English,1256.0,0 days 10:56:00,5.0,5.0
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,2019-09-24,English,820.0,0 days 13:22:00,5.0,58.0
10,"The Titan's Curse: Percy Jackson, Book 3",RickRiordan,JesseBernstein,2010-01-14,English,820.0,0 days 08:48:00,4.5,130.0
11,Magic Tree House Collection: Books 9-16,MaryPopeOsborne,MaryPopeOsborne,2011-08-24,English,1206.0,0 days 05:23:00,5.0,6.0
12,Magic Tree House Collection: Books 1-8,MaryPopeOsborne,MaryPopeOsborne,2011-09-27,English,1206.0,0 days 06:01:00,5.0,7.0
13,Magnus Chase and the Ship of the Dead,RickRiordan,MichaelCrouch,2017-10-03,English,820.0,0 days 12:58:00,5.0,41.0
14,Northern Lights,PhilipPullman,PhilipPullman,2021-06-24,English,1093.0,0 days 11:55:00,4.0,2.0
15,Geronimo Stilton #13 and #14,GeronimoStilton,BillLobley,2008-02-08,English,467.0,0 days 02:25:00,4.5,33.0
16,Magic Tree House Collection,MaryPopeOsborne,MaryPopeOsborne,2004-12-26,English,1206.0,0 days 05:04:00,5.0,7.0
17,Exile,ShannonMessenger,CaitlinKelly,2018-11-06,English,836.0,0 days 14:41:00,5.0,20.0
18,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,2017-05-02,English,1256.0,0 days 10:18:00,5.0,11.0
19,Neverseen,ShannonMessenger,CaitlinKelly,2018-11-06,English,1003.0,0 days 16:42:00,5.0,13.0

In [77]:
df['name'].str.encode('ascii', 'ignore').str.decode('ascii')

0                        Geronimo Stilton #11 & #12
1                                  The Burning Maze
2                                      The Deep End
3                              Daughter of the Deep
4        The Lightning Thief: Percy Jackson, Book 1
                            ...
87484                     Last Days of the Bus Club
87485                                      The Alps
87486                          The Innocents Abroad
87487                         A Sentimental Journey
87488                                        Havana
Name: name, Length: 87489, dtype: object

In [103]:
df['name'].str.extract(r'([Books?\s*\d+\-\d+|\#\d+\s+\w+\#\d+]+)')

                               0
0          Geronimo Stilton #11
1               The Burning Maze
2                   The Deep End
3           Daughter of the Deep
4            The Lightning Thief
...                          ...
87484  Last Days of the Bus Club
87485                   The Alps
87486       The Innocents Abroad
87487      A Sentimental Journey
87488                     Havana

[87489 rows x 1 columns]

In [116]:
df.head()['name']

0                    Geronimo Stilton #11 & #12
1                              The Burning Maze
2                                  The Deep End
3                          Daughter of the Deep
4    The Lightning Thief: Percy Jackson, Book 1
Name: name, dtype: object

In [138]:
df['name']=df['name'].str.replace(r'(\W+Book \d+|\W+Books \d+\-\d+|#.+)','',regex=True).head(50)