In [1]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows',None)
import re

In [2]:
df = pd.read_csv('audible_uncleaned.csv')

In [3]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [5]:
# df[df['name'].duplicated()]

In [6]:
df['author'].duplicated().sum()

np.int64(39115)

In [7]:
df['author'].drop_duplicates(keep='first',inplace=True)

In [8]:
df['author'].duplicated().sum()

np.int64(39115)

In [9]:
df['author'].drop_duplicates(keep='first').head()

0    Writtenby:GeronimoStilton
1        Writtenby:RickRiordan
2         Writtenby:JeffKinney
5     Writtenby:SuzanneCollins
6       Writtenby:WinterMorgan
Name: author, dtype: object

In [10]:
df[df['narrator'].duplicated()].head()

,name,author,narrator,time,releasedate,language,stars,price
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,02-05-17,English,5 out of 5 stars50 ratings,820.00
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820.00
10,"The Titan's Curse: Percy Jackson, Book 3",Writtenby:RickRiordan,Narratedby:JesseBernstein,8 hrs and 48 mins,14-01-10,English,4.5 out of 5 stars130 ratings,820.00
11,Magic Tree House Collection: Books 9-16,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,5 hrs and 23 mins,24-08-11,English,5 out of 5 stars6 ratings,"1,206.00"
12,Magic Tree House Collection: Books 1-8,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,6 hrs and 1 min,27-09-11,English,5 out of 5 stars7 ratings,"1,206.00"

In [11]:
df['time'].duplicated().sum()

np.int64(85205)

In [12]:
df['releasedate'].duplicated().sum()

np.int64(82431)

In [13]:
df['language'].duplicated().sum()

np.int64(87453)

In [14]:
df['stars'].duplicated().sum()

np.int64(86824)

In [15]:
df['price'].duplicated().sum()

np.int64(86478)

In [16]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [17]:
df['author'] = df['author'].str.extract(r':([A-Za-z]+)')

In [18]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [19]:
df['narrator'] = df['narrator'].str.extract(r':([A-Za-z]+)')

In [20]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [21]:
df['releasedate']=pd.to_datetime(df['releasedate'], format='%d-%m-%y', errors='coerce')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       83589 non-null  object
 2   narrator     83190 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 5.3+ MB

In [23]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00

In [24]:
# def convert_to_time(x):
#   if len(x.str.split()) == 5:
#     hours = x.str.split().str.get(0)
#     mins = x.str.split().str.get(3)
#     return pd.Timedelta(hours=int(hours),minutes=int(mins))
#   elif len(x.str.split()) == 2:
#     if x.str.split().str.get(1) == 'hrs':
#       return pd.Timedelta(hours=int(x.str.split().str.get(0)))
#   elif len(x.str.split()) == 2:
#     if x.str.split().str.get(1) == 'mins':
#       return pd.Timedelta(minutes=int(x.str.split().str.get(0)))

In [25]:
def convert_to_time(x):
  if len(x.split()) == 5:
    hours = x.split()[0]
    mins = x.split()[3]
    return pd.Timedelta(hours=int(hours),minutes=int(mins))
  elif len(x.split()) == 2:
    if x.split()[1] == 'hrs':
      return pd.Timedelta(hours=int(x.split()[0]))
    elif x.split()[1] == 'mins':
      return pd.Timedelta(minutes=int(x.split()[0]))

In [26]:
df['total_time']=df['time'].apply(convert_to_time)

In [27]:
df.head(2)

,name,author,narrator,time,releasedate,language,stars,price,total_time
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.00,0 days 02:20:00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,0 days 13:08:00

In [28]:
def extract_reviews(x):
  if len(x.split()) > 3:
    review = x.split()[0]
    return review
  else:
    review = 0
    return review

In [29]:
def extract_rating(x):
  if len(x.split()) > 3:
    rating = x.split()[4]
    return rating[5:]
  else:
    rating = 0
    return rating

In [30]:
df['reviews'] = df['stars'].apply(extract_reviews)

In [31]:
df['rating'] = df['stars'].apply(extract_rating)

In [32]:
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.00,0 days 02:20:00,5,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,0 days 13:08:00,4.5,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,0 days 02:03:00,4.5,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,0 days 11:16:00,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,0 days 10:00:00,4.5,181

In [33]:
df['price']=df['price'].str.replace(',','').replace('.','').replace('Free',0).astype(float)

In [34]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-08-04,English,5 out of 5 stars34 ratings,468.0,0 days 02:20:00,5,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-05-01,English,4.5 out of 5 stars41 ratings,820.0,0 days 13:08:00,4.5,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-11-06,English,4.5 out of 5 stars38 ratings,410.0,0 days 02:03:00,4.5,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-10-05,English,4.5 out of 5 stars12 ratings,615.0,0 days 11:16:00,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,0 days 10:00:00,4.5,181

In [35]:
df['reviews'] = df['reviews'].replace(',','').astype(float)

In [36]:
df['rating'] = df['rating'].str.replace(',','').astype(float)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       83589 non-null  object
 2   narrator     83190 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  float64
 8   total_time   86897 non-null  timedelta64[ns]
 9   reviews      87489 non-null  float64
 10  rating       15072 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6), timedelta64[ns](1)
memory usage: 7.3+ MB

In [38]:
df.describe()

,releasedate,price,total_time,reviews,rating
count,87489,87489.000000,86897,87489.000000,15072.000000
mean,2018-06-23 22:53:20.411480064,559.009246,0 days 07:00:12.570744674,0.767811,21.613190
min,1998-12-27 00:00:00,0.000000,0 days 00:02:00,0.000000,1.000000
25%,2016-09-06 00:00:00,268.000000,0 days 02:27:00,0.000000,1.000000
50%,2020-02-06 00:00:00,585.000000,0 days 06:29:00,0.000000,2.000000
75%,2021-08-17 00:00:00,755.000000,0 days 09:46:00,0.000000,7.000000
max,2025-11-14 00:00:00,7198.000000,5 days 23:15:00,5.000000,12573.000000
std,NaN,336.096642,0 days 06:04:18.210976124,1.709640,207.479634

In [47]:
df[df['price'].duplicated()].sample(5)

,name,author,narrator,time,releasedate,language,stars,price,total_time,reviews,rating
26629,Svensk maffia,LasseWierup,TomasBolme,15 hrs and 46 mins,2020-09-15,swedish,Not rated yet,200.0,0 days 15:46:00,0.0,NaN
41518,Великие клады,NaN,NaN,5 hrs and 5 mins,2020-06-25,russian,Not rated yet,166.0,0 days 05:05:00,0.0,NaN
44912,House of Spies,DanielSilva,GeorgeGuidall,13 hrs and 1 min,2017-07-13,English,Not rated yet,552.0,0 days 13:01:00,0.0,NaN
5645,J.D. and the Family Business,J,TiviaLynnell,2 hrs and 38 mins,2021-08-03,English,Not rated yet,553.0,0 days 02:38:00,0.0,NaN
5693,Rhode Island,BridgetParker,anonymous,11 mins,2022-03-01,English,Not rated yet,93.0,0 days 00:11:00,0.0,NaN

In [48]:
df.drop(columns=['time','stars'],inplace=True)

In [49]:
df.head()

,name,author,narrator,releasedate,language,price,total_time,reviews,rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2008-08-04,English,468.0,0 days 02:20:00,5.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,2018-05-01,English,820.0,0 days 13:08:00,4.5,41.0
2,The Deep End,JeffKinney,DanRussell,2020-11-06,English,410.0,0 days 02:03:00,4.5,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,2021-10-05,English,615.0,0 days 11:16:00,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,2010-01-13,English,820.0,0 days 10:00:00,4.5,181.0