In [96]:
import pandas as pd
import numpy as np

In [97]:
movies = pd.read_csv("/content/imdb-top-1000.csv")

In [98]:
movies.head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0

find top 3 genre by total earning

In [99]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [100]:
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [101]:
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

find highest rated movie of each genre

In [102]:
# movies.groupby('Genre')[['Series_Title','IMDB_Rating']].max().sort_values(ascending=False)

find number of movies done by each actor

In [103]:
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
                     ..
Gérard Jugnot         1
Günes Sensoy          1
Haluk Bilginer        1
Harriet Andersson     1
Graham Chapman        1
Name: Series_Title, Length: 660, dtype: int64

Group by attribute and features

find total number of groups

find items in each group

first()/last

In [104]:
# total number of groups formed
len(movies.groupby('Genre'))

14

In [105]:
#find total number of rows in group
movies.groupby('Genre').size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [106]:
# for every genre find first movie
movies.groupby('Genre')['Series_Title'].head(1)
movies.groupby('Genre')['Series_Title'].first()

Genre
Action                       The Dark Knight
Adventure                       Interstellar
Animation      Sen to Chihiro no kamikakushi
Biography                   Schindler's List
Comedy                          Gisaengchung
Crime                          The Godfather
Drama               The Shawshank Redemption
Family            E.T. the Extra-Terrestrial
Fantasy         Das Cabinet des Dr. Caligari
Film-Noir                      The Third Man
Horror                                Psycho
Mystery                              Memento
Thriller                     Wait Until Dark
Western      Il buono, il brutto, il cattivo
Name: Series_Title, dtype: object

In [107]:
# for every genre find last movie
movies.groupby('Genre')['Series_Title'].last()

Genre
Action                      Escape from Alcatraz
Adventure                         Kelly's Heroes
Animation                        The Jungle Book
Biography                       Midnight Express
Comedy                    Breakfast at Tiffany's
Crime                               The 39 Steps
Drama                                   Lifeboat
Family       Willy Wonka & the Chocolate Factory
Fantasy                                Nosferatu
Film-Noir                      Shadow of a Doubt
Horror                                The Others
Mystery                             Lost Highway
Thriller                         Wait Until Dark
Western                   The Outlaw Josey Wales
Name: Series_Title, dtype: object

In [108]:
# for every genre find nth movie
movies.groupby('Genre')['Series_Title'].nth(6)

16     Star Wars: Episode V - The Empire Strikes Back
27                                              Se7en
32                              It's a Wonderful Life
66                                             WALL·E
83                                 The Great Dictator
102                                        Braveheart
118                                North by Northwest
420                                            Sleuth
724                                           Get Out
Name: Series_Title, dtype: object

In [109]:
# select a specific genre
movies.groupby('Genre').get_group('Horror')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
844,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
932,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369.0,46.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0

In [110]:
# groups
movies.groupby('Genre').groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [111]:
# describe
movies.groupby('Genre').describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [112]:
movies.groupby('Genre').sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
201,Haider,2014,160,Action,8.1,Vishal Bhardwaj,Shahid Kapoor,50445,901610.0,NaN
873,The African Queen,1951,105,Adventure,7.7,John Huston,Humphrey Bogart,71481,536118.0,91.0
510,Cowboy Bebop: Tengoku no tobira,2001,115,Animation,7.9,Shin'ichirô Watanabe,Tensai Okamura,42897,1000045.0,61.0
338,The Imitation Game,2014,114,Biography,8.0,Morten Tyldum,Benedict Cumberbatch,685201,91125683.0,73.0
801,Happiness,1998,134,Comedy,7.7,Todd Solondz,Jane Adams,66408,2807390.0,81.0
960,Sleepers,1996,147,Crime,7.6,Barry Levinson,Robert De Niro,186734,49100000.0,49.0
293,What Ever Happened to Baby Jane?,1962,134,Drama,8.1,Robert Aldrich,Bette Davis,50058,4050000.0,75.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
899,El cuerpo,2012,112,Mystery,7.6,Oriol Paulo,Jose Coronado,57549,140340673.0,NaN
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

In [113]:
movies.groupby('Genre').nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [114]:
movies.head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0

In [115]:
movies.groupby('Genre').agg({
    'Runtime' : 'mean',
    'IMDB_Rating' : 'mean',
    'No_of_Votes' : 'sum',
    'Gross' : 'sum',
    'Metascore':'min'}

)

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  3.263226e+10       33.0
Adventure  134.111111     7.937500     22576163  9.496922e+09       41.0
Animation   99.585366     7.930488     21978630  1.463147e+10       61.0
Biography  136.022727     7.938636     24006844  8.276358e+09       48.0
Comedy     112.129032     7.901290     27620327  1.566387e+10       45.0
Crime      126.392523     8.016822     33533615  8.452632e+09       47.0
Drama      124.737024     7.957439     61367304  3.540997e+10       28.0
Family     107.500000     7.800000       551221  4.391106e+08       67.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       94.0
Horror     102.090909     7.909091      3742556  1.034649e+09       46.0
Mystery    119.083333     7.975000      4203004  1.256417e+09       52.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       69.0

In [116]:
movies.groupby('Genre')[movies.select_dtypes(include=np.number).columns].agg(['min','max','mean'])

          Runtime                  IMDB_Rating                No_of_Votes  \
              min  max        mean         min  max      mean         min
Genre
Action         45  321  129.046512         7.6  9.0  7.949419       25312
Adventure      88  228  134.111111         7.6  8.6  7.937500       29999
Animation      71  137   99.585366         7.6  8.6  7.930488       25229
Biography      93  209  136.022727         7.6  8.9  7.938636       27254
Comedy         68  188  112.129032         7.6  8.6  7.901290       26337
Crime          80  229  126.392523         7.6  9.2  8.016822       27712
Drama          64  242  124.737024         7.6  9.3  7.957439       25088
Family        100  115  107.500000         7.8  7.8  7.800000      178731
Fantasy        76   94   85.000000         7.9  8.1  8.000000       57428
Film-Noir     100  108  104.000000         7.8  8.1  7.966667       59556
Horror         71  122  102.090909         7.6  8.5  7.909091       27007
Mystery        96  138  119.083333         7.6  8.4  7.975000       33982
Thriller      108  108  108.000000         7.8  7.8  7.800000       27733
Western       132  165  148.250000         7.8  8.8  8.350000       65659

                                         Gross                             \
               max           mean          min          max          mean
Genre
Action     2303232  420246.581395       3296.0  936662225.0  1.897224e+08
Adventure  1512360  313557.819444      61001.0  874211619.0  1.319017e+08
Animation   999790  268032.073171     128985.0  873839108.0  1.784326e+08
Biography  1213505  272805.045455      21877.0  753585104.0  9.404952e+07
Comedy      939631  178195.658065       1305.0  886752933.0  1.010572e+08
Crime      1826188  313398.271028       6013.0  790482117.0  7.899656e+07
Drama      2343110  212343.612457       3600.0  924558264.0  1.225259e+08
Family      372490  275610.500000    4000000.0  435110554.0  2.195553e+08
Fantasy      88794   73111.000000  337574718.0  445151978.0  3.913633e+08
Film-Noir   158731  122405.000000     449191.0  123353292.0  4.197018e+07
Horror      787806  340232.363636      89029.0  298791505.0  9.405902e+07
Mystery    1129894  350250.333333    1035953.0  474203697.0  1.047014e+08
Thriller     27733   27733.000000   17550741.0   17550741.0  1.755074e+07
Western     688390  322416.250000    5321508.0   31800000.0  1.455538e+07

          Metascore
                min    max       mean
Genre
Action         33.0   98.0  73.419580
Adventure      41.0  100.0  78.437500
Animation      61.0   96.0  81.093333
Biography      48.0   97.0  76.240506
Comedy         45.0   99.0  78.720000
Crime          47.0  100.0  77.080460
Drama          28.0  100.0  79.701245
Family         67.0   91.0  79.000000
Fantasy         NaN    NaN        NaN
Film-Noir      94.0   97.0  95.666667
Horror         46.0   97.0  80.000000
Mystery        52.0  100.0  79.125000
Thriller       81.0   81.0  81.000000
Western        69.0   90.0  78.250000

In [117]:
movies.groupby('Genre').agg({
    'Runtime' : ['min','mean'],
    'IMDB_Rating' : ['min','mean'],
    'No_of_Votes' : 'sum',
    'Gross' : 'sum',
    'Metascore':['min','mean']}

)

          Runtime             IMDB_Rating           No_of_Votes         Gross  \
              min        mean         min      mean         sum           sum
Genre
Action         45  129.046512         7.6  7.949419    72282412  3.263226e+10
Adventure      88  134.111111         7.6  7.937500    22576163  9.496922e+09
Animation      71   99.585366         7.6  7.930488    21978630  1.463147e+10
Biography      93  136.022727         7.6  7.938636    24006844  8.276358e+09
Comedy         68  112.129032         7.6  7.901290    27620327  1.566387e+10
Crime          80  126.392523         7.6  8.016822    33533615  8.452632e+09
Drama          64  124.737024         7.6  7.957439    61367304  3.540997e+10
Family        100  107.500000         7.8  7.800000      551221  4.391106e+08
Fantasy        76   85.000000         7.9  8.000000      146222  7.827267e+08
Film-Noir     100  104.000000         7.8  7.966667      367215  1.259105e+08
Horror         71  102.090909         7.6  7.909091     3742556  1.034649e+09
Mystery        96  119.083333         7.6  7.975000     4203004  1.256417e+09
Thriller      108  108.000000         7.8  7.800000       27733  1.755074e+07
Western       132  148.250000         7.8  8.350000     1289665  5.822151e+07

          Metascore
                min       mean
Genre
Action         33.0  73.419580
Adventure      41.0  78.437500
Animation      61.0  81.093333
Biography      48.0  76.240506
Comedy         45.0  78.720000
Crime          47.0  77.080460
Drama          28.0  79.701245
Family         67.0  79.000000
Fantasy         NaN        NaN
Film-Noir      94.0  95.666667
Horror         46.0  80.000000
Mystery        52.0  79.125000
Thriller       81.0  81.000000
Western        69.0  78.250000

In [118]:
# highest rated movie of each genre
for group,data in movies.groupby('Genre'):
  print(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

      Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
2  The Dark Knight          2008      152  Action          9.0

            Director           Star1  No_of_Votes        Gross  Metascore
2  Christopher Nolan  Christian Bale      2303232  534858444.0       84.0
    Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
21  Interstellar          2014      169  Adventure          8.6

             Director                Star1  No_of_Votes        Gross  \
21  Christopher Nolan  Matthew McConaughey      1512360  188020017.0

    Metascore
21       74.0
                     Series_Title Released_Year  Runtime      Genre  \
23  Sen to Chihiro no kamikakushi          2001      125  Animation

    IMDB_Rating        Director          Star1  No_of_Votes       Gross  \
23          8.6  Hayao Miyazaki  Daveigh Chase       651376  10055859.0

    Metascore
23       96.0
       Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
7  Schindler's List          1993      195  Biography          8.9

           Director        Star1  No_of_Votes       Gross  Metascore
7  Steven Spielberg  Liam Neeson      1213505  96898818.0       94.0
       Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
19     Gisaengchung          2019      132  Comedy          8.6
26  La vita è bella          1997      116  Comedy          8.6

           Director            Star1  No_of_Votes       Gross  Metascore
19     Bong Joon Ho     Kang-ho Song       552778  53367844.0       96.0
26  Roberto Benigni  Roberto Benigni       623629  57598247.0       59.0
    Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
1  The Godfather          1972      175  Crime          9.2

               Director          Star1  No_of_Votes        Gross  Metascore
1  Francis Ford Coppola  Marlon Brando      1620367  134966411.0      100.0
               Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
0  The Shawshank Redemption          1994      142  Drama          9.3

         Director        Star1  No_of_Votes       Gross  Metascore
0  Frank Darabont  Tim Robbins      2343110  28341469.0       80.0
                            Series_Title Released_Year  Runtime   Genre  \
688           E.T. the Extra-Terrestrial          1982      115  Family
698  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
688          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
698          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
688       91.0
698       67.0
                     Series_Title Released_Year  Runtime    Genre  \
321  Das Cabinet des Dr. Caligari          1920       76  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
321          8.1  Robert Wiene  Werner Krauss        57428  337574718.0

     Metascore
321        NaN
      Series_Title Released_Year  Runtime      Genre  IMDB_Rating    Director  \
309  The Third Man          1949      104  Film-Noir          8.1  Carol Reed

            Star1  No_of_Votes     Gross  Metascore
309  Orson Welles       158731  449191.0       97.0
   Series_Title Released_Year  Runtime   Genre  IMDB_Rating          Director  \
49       Psycho          1960      109  Horror          8.5  Alfred Hitchcock

              Star1  No_of_Votes       Gross  Metascore
49  Anthony Perkins       604211  32000000.0       97.0
   Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
69      Memento          2000      113  Mystery          8.4
81  Rear Window          1954      112  Mystery          8.4

             Director          Star1  No_of_Votes       Gross  Metascore
69  Christopher Nolan     Guy Pearce      1125712  25544867.0       80.0
81   Alfred Hitchcock  James Stewart       444074  36764313.0      100.0
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
700  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes       Gross  Metascore
700  Terence Young  Audrey Hepburn        27733  17550741.0       81.0
                       Series_Title Released_Year  Runtime    Genre  \
12  Il buono, il brutto, il cattivo          1966      161  Western

    IMDB_Rating      Director           Star1  No_of_Votes      Gross  \
12          8.8  Sergio Leone  Clint Eastwood       688390  6100000.0

    Metascore
12       90.0

In [119]:
# apply
movies.groupby('Genre').apply(min)

/tmp/ipython-input-119-2421397015.py:2: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  movies.groupby('Genre').apply(min)
/tmp/ipython-input-119-2421397015.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movies.groupby('Genre').apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [211]:
#no of moviews in each genre which start with A
def check_a(group):
  return group['Series_Title'].str.startswith('A').sum()

movies.groupby('Genre').apply(check_a)

/tmp/ipython-input-211-1084341400.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movies.groupby('Genre').apply(check_a)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [121]:
# assigning rank to movie on baisis of imdb rating of each genre

def ranking(g):
  g['movie_ranking'] =  g['IMDB_Rating'].rank(ascending=False)
  return g

movies.groupby('Genre').apply(ranking)

/tmp/ipython-input-121-2740417072.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movies.groupby('Genre').apply(ranking)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              movie_ranking
Genre
Action   2              1.0
         5              2.0
         8              3.5
         10             3.5
         13             6.0
...                     ...
Thriller 700            1.0
Western  12             1.0
         48             2.0
         115            3.0
         691            4.0

[1000 rows x 11 columns]

In [122]:
def normalize(g):
  g['Normalize_rating'] = (g['IMDB_Rating']-g['IMDB_Rating'].min())/(g['IMDB_Rating'].max()-g['IMDB_Rating'].min())
  return g

movies.groupby('Genre').apply(normalize)

/tmp/ipython-input-122-2318867500.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movies.groupby('Genre').apply(normalize)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              Normalize_rating
Genre
Action   2            1.000000
         5            0.928571
         8            0.857143
         10           0.857143
         13           0.785714
...                        ...
Thriller 700               NaN
Western  12           1.000000
         48           0.700000
         115          0.500000
         691          0.000000

[1000 rows x 11 columns]

In [216]:
# group by on multiple columns
movies.groupby(['Director','Star1']).size()
movies.groupby(['Director','Star1']).get_group(("Aamir Khan","Amole Gupte"))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

In [124]:
# find most earning actor -> director combo
movies.groupby(['Director','Star1'])['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2.999877e+09
Name: Gross, dtype: float64

In [125]:
# find best actor -> genre combo in term of meta score
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore',ascending=False).head(1)

             Star1      Genre  Metascore
606  Peter O'Toole  Adventure      100.0

In [126]:
# perfrom aggregate on groupby of multiple columns
movies.groupby(['Star1','Genre']).agg({
    'IMDB_Rating' : 'mean',
    'Runtime' : 'mean'}
)

                                IMDB_Rating  Runtime
Star1                Genre
Aamir Khan           Action             8.3   160.50
                     Adventure          8.1   224.00
                     Comedy             8.2   168.25
Aaron Taylor-Johnson Action             7.6   117.00
Abhay Deol           Drama              8.0   144.00
...                                     ...      ...
Zbigniew Zamachowski Comedy             7.6    92.00
Zooey Deschanel      Comedy             7.7    95.00
Çetin Tekindor       Drama              8.3   112.00
Éric Toledano        Biography          8.5   112.00
Ömer Faruk Sorak     Comedy             8.0   110.00

[829 rows x 2 columns]

In [127]:
movies.groupby(['Star1','Genre']).agg(['min','max'])

                                                     Series_Title  \
                                                              min
Star1                Genre
Aamir Khan           Action                       Andaz Apna Apna
                     Adventure  Lagaan: Once Upon a Time in India
                     Comedy                              3 Idiots
Aaron Taylor-Johnson Action                              Kick-Ass
Abhay Deol           Drama                                  Dev.D
...                                                           ...
Zbigniew Zamachowski Comedy                 Trois couleurs: Blanc
Zooey Deschanel      Comedy                  (500) Days of Summer
Çetin Tekindor       Drama                         Babam ve Oglum
Éric Toledano        Biography                   The Intouchables
Ömer Faruk Sorak     Comedy                             Vizontele

                                                                   \
                                                              max
Star1                Genre
Aamir Khan           Action                                Dangal
                     Adventure  Lagaan: Once Upon a Time in India
                     Comedy                       Rang De Basanti
Aaron Taylor-Johnson Action                              Kick-Ass
Abhay Deol           Drama                                  Dev.D
...                                                           ...
Zbigniew Zamachowski Comedy                 Trois couleurs: Blanc
Zooey Deschanel      Comedy                  (500) Days of Summer
Çetin Tekindor       Drama                         Babam ve Oglum
Éric Toledano        Biography                   The Intouchables
Ömer Faruk Sorak     Comedy                             Vizontele

                               Released_Year       Runtime      IMDB_Rating  \
                                         min   max     min  max         min
Star1                Genre
Aamir Khan           Action             1994  2016     160  161         8.2
                     Adventure          2001  2001     224  224         8.1
                     Comedy             2001  2014     153  183         8.1
Aaron Taylor-Johnson Action             2010  2010     117  117         7.6
Abhay Deol           Drama              2009  2009     144  144         8.0
...                                      ...   ...     ...  ...         ...
Zbigniew Zamachowski Comedy             1994  1994      92   92         7.6
Zooey Deschanel      Comedy             2009  2009      95   95         7.7
Çetin Tekindor       Drama              2005  2005     112  112         8.3
Éric Toledano        Biography          2011  2011     112  112         8.5
Ömer Faruk Sorak     Comedy             2001  2001     110  110         8.0

                                                 Director  \
                                max                   min
Star1                Genre
Aamir Khan           Action     8.4         Nitesh Tiwari
                     Adventure  8.1    Ashutosh Gowariker
                     Comedy     8.4         Farhan Akhtar
Aaron Taylor-Johnson Action     7.6        Matthew Vaughn
Abhay Deol           Drama      8.0        Anurag Kashyap
...                             ...                   ...
Zbigniew Zamachowski Comedy     7.6  Krzysztof Kieslowski
Zooey Deschanel      Comedy     7.7             Marc Webb
Çetin Tekindor       Drama      8.3           Çagan Irmak
Éric Toledano        Biography  8.5       Olivier Nakache
Ömer Faruk Sorak     Comedy     8.0        Yilmaz Erdogan

                                                        No_of_Votes          \
                                                    max         min     max
Star1                Genre
Aamir Khan           Action           Rajkumar Santoshi       49300  156479
                     Adventure       Ashutosh Gowariker      105036  105036
                     Comedy     Rakeysh Omprakash Mehra       66803  344445
Aaron Taylor-Johnson Action              Matthew Vaughn      524081  524081
Abhay Deol           Drama               Anurag Kashyap       28749   28749
...                                                 ...         ...     ...
Zbigniew Zamachowski Comedy        Krzysztof Kieslowski       64390   64390
Zooey Deschanel      Comedy                   Marc Webb      472242  472242
Çetin Tekindor       Drama                  Çagan Irmak       78925   78925
Éric Toledano        Biography          Olivier Nakache      760360  760360
Ömer Faruk Sorak     Comedy              Yilmaz Erdogan       33592   33592

                                      Gross              Metascore
                                        min          max       min   max
Star1                Genre
Aamir Khan           Action      12391761.0  213351844.0       NaN   NaN
                     Adventure      70147.0      70147.0      84.0  84.0
                     Comedy        300000.0   10616104.0      67.0  67.0
Aaron Taylor-Johnson Action      48071303.0   48071303.0      66.0  66.0
Abhay Deol           Drama          10950.0      10950.0       NaN   NaN
...                                     ...          ...       ...   ...
Zbigniew Zamachowski Comedy       1464625.0    1464625.0      88.0  88.0
Zooey Deschanel      Comedy      32391374.0   32391374.0      76.0  76.0
Çetin Tekindor       Drama      461855363.0  461855363.0       NaN   NaN
Éric Toledano        Biography   13182281.0   13182281.0      57.0  57.0
Ömer Faruk Sorak     Comedy     200178699.0  200178699.0       NaN   NaN

[829 rows x 16 columns]

Practice question

In [128]:
ipl = pd.read_csv("/content/deliveries.csv")

In [129]:
ipl.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [130]:
# top 10 batsman in terms of runs scored
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).reset_index().head(1)

   batsman  batsman_runs
0  V Kohli          5434

In [136]:
# find batsman with max number of sixes
ipl[ipl['batsman_runs'] == 6].groupby('batsman')['total_runs'].count().sort_values(ascending=False)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
                 ...
AN Ahmed            1
AD Mascarenhas      1
TA Boult            1
T Kohli             1
TS Mills            1
Name: total_runs, Length: 336, dtype: int64

In [140]:
# find batsman who did most 4's and 6's in last 5 over
ipl[(ipl['over'] > 15) & ((ipl['batsman_runs'] == 6) | (ipl['batsman_runs'] == 4))].groupby('batsman')['total_runs'].count().sort_values(ascending=False)

batsman
MS Dhoni          340
RG Sharma         208
AB de Villiers    208
KA Pollard        206
V Kohli           160
                 ...
AR Bawne            1
TS Mills            1
TA Boult            1
T Taibu             1
T Curran            1
Name: total_runs, Length: 360, dtype: int64

In [150]:
# find v.kohlis record agains all teams
ipl[ipl['batsman'] == 'V Kohli'].groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)

bowling_team
Delhi Daredevils           763
Chennai Super Kings        749
Kolkata Knight Riders      675
Kings XI Punjab            636
Mumbai Indians             628
Sunrisers Hyderabad        509
Rajasthan Royals           370
Deccan Chargers            306
Gujarat Lions              283
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Delhi Capitals              66
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [217]:
# virat kohli highest score
ipl[ipl['batsman'] == 'V Kohli'].groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(1)

batsman
V Kohli    5434
Name: batsman_runs, dtype: int64

In [218]:
# find highest score in single match
ipl[ipl['batsman'] == 'CH Gayle'].groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1)

match_id
411    175
Name: batsman_runs, dtype: int64