# SQL SubQuery
## How to load the dataset(s) to SQL?
Using Python, you can load the large datasets to MySQL database very easily. For that follow the below steps.

- First create a database in your local machine server.

```sql
CREATE DATABASE <database_name>
```

- Next, use Python to load the database

```python
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("file/path/to/the/database.csv")

engine = create_engine("mysql+pymysql://<db_username>:<db_password>@<hostname>/<database_name>")
df.to_sql("<table_name>", con=engine)
```

## Problems 1-6

For problems 1 to 6, use the Olympic dataset. You can get that from [here](https://drive.google.com/file/d/1EGIRBkbQGByJPvCqDtxtTnXv93oGunFp/view?usp=share_link).

**Column description:**
1. ID -> ID of every records to our dataset. It has integer datatype.
2. Name -> Name of the athletes.
3. Sex -> Gender of the athletes.
4. Height -> Height of the athletes
5. Weight -> Weight of the athletes
6. NOC -> In which country, the athletes belong to. This is actually the country code.
7. Year -> In which year, the athlete has participated
8. Sport -> What is the sport name in which the athlete participated.
9. Event -> Event name of the sport
10. Medal -> Which medal the athlege got. If the athlete did not get any medal then this cell is blank.
11. country -> The name of the country.

In [7]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
df = pd.read_csv("athlete_events.csv")
engine = create_engine('mysql+pymysql://root:root@localhost/task35')
df.to_sql('olympics',con = engine)

271116

In [10]:
df.shape

(271116, 15)

### Problem 1

Display the names of athletes who won a gold medal in the 2008 Olympics and whose height is greater than the average height of all athletes in the 2008 Olympics.


### Problem 2

Display the names of athletes who won a medal in the sport of basketball in the 2016 Olympics and whose weight is less than the average weight of all athletes who won a medal in the 2016 Olympics.



### Problem 3

Display the names of all athletes who have won a medal in the sport of swimming in both the 2008 and 2016 Olympics.



### Problem 4

Display the names of all countries that have won more than 50 medals in a single year.



### Problem 5

Display the names of all athletes who have won medals in more than one sport in the same year.



### Problem 6

What is the average weight difference between male and female athletes in the Olympics who have won a medal in the same event?

In [ ]:
# problem 1
select name from olympics 
where year = 2008 and height > (select avg(Height) from olympics where year = 2008 and medal = 'Gold')
and medal = 'Gold'



# problem 2
select name from olympics 
where Medal is not null and Year = 2016 and Weight < 
(select avg(Weight) from olympics where Medal is not null and Year = 2016 )
and Sport = 'Basketball'



# problem 3
# -- Display the names of all athletes who have won a medal in the sport of swimming in 
# -- both the 2008 and 2016 Olympics.
select distinct(name) from olympics
where Year in (2016,2008)
and Sport = 'Swimming'
and Medal is not null
and name in(

select distinct t1.name from 
(select * from olympics 
where Year in (2008)
and Sport = 'Swimming'
and Medal is not null) t1

join 

(select * from olympics
where Year in (2016)
and Sport = 'Swimming'
and Medal is not null
) t2

on t1.name = t2.name )



# problem 4
select Team from olympics
where Medal is not null
group by Team,Year
having count(*) > 50

# problem 5
select name from olympics
where Name in (
select Name  from olympics
where Medal is not null
group by Year,Name 
having count(distinct Sport) > 1
order by year)
and Medal is not null

    

#problem 6

# -- What is the average weight difference between male and female athletes
# -- in the Olympics who have won a medal in the same event?
Select * From

(select * from olympics
where medal is not null 
) t1

JOIN

(select * from olympics
where medal is not null 
) t2
on
t1.Event = t2.Event
and t1.sex != t2.sex

## Problem 7 - 10

Use the health insurance dataset. You can get the dataset as well as the description of the dataset [here](https://www.kaggle.com/datasets/thedevastator/insurance-claim-analysis-demographic-and-health).

### Problem 7

How many patients have claimed more than the average claim amount for patients who are smokers and have at least one child, and belong to the southeast region?


### Problem 8

How many patients have claimed more than the average claim amount for patients who are not smokers and have a BMI greater than the average BMI for patients who have at least one child?



### Problem 9

How many patients have claimed more than the average claim amount for patients who have a BMI greater than the average BMI for patients who are diabetic, have at least one child, and are from the southwest region?


### Problem 10:

What is the difference in the average claim amount between patients who are smokers and patients who are non-smokers, and have the same BMI and number of children?

In [11]:
df1 = pd.read_csv("insurance_data.csv")
engine = create_engine('mysql+pymysql://root:root@localhost/task35')
df1.to_sql('insurance',con = engine)

1340

In [ ]:
# problem 7
# -- How many patients have claimed more than the average claim amount for patients who are smokers and have 
# -- at least one child, and belong to the southeast region?
select count(*) from insurance
where smoker = 'Yes'
and children = 1
and region = 'southeast'
and claim > 
(select avg(claim) from insurance
where smoker = 'Yes'
and children = 1
and region = 'southeast'
)



# problem 8
# -- How many patients have claimed more than the average claim amount for patients who are not smokers 
# -- and have a BMI greater than the average BMI for patients who have at least one child?


select count(*) from insurance

where claim > (select avg(claim) from insurance
where
smoker = 'No'

and 
 bmi > (select avg(bmi) from insurance
where

children = 1
)
)




# problem 9

# How many patients have claimed more than the average claim amount for patients who have a BMI greater than the average BMI for patients who are diabetic, have at least one child, and are from the southwest region?



select count(claim) from insurance

where claim > (select avg(claim) from insurance
where
bmi > (select avg(bmi) from insurance
where
children >= 1
and 
diabetic = 'Yes'
and 
region = 'southwest'
)
)





# problem 10
# -- What is the difference in the average claim amount between patients who are smokers 
# -- and patients who are non-smokers, and have the same BMI and number of children?

select  avg(t1.claim-t2.claim) from insurance t1
join
insurance t2 
on
t1.smoker!=t2.smoker
and
t1.bmi = t2.bmi
and 
t1.children = t2.children

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df2 = pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv')
engine = create_engine('mysql+pymysql://root:@localhost/')

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df3 = pd.read_csv('Drug_clean.csv')
engine = create_engine('mysql+pymysql://root:@localhost/campusx')
df3.to_sql('drug',con = engine)

685

In [10]:
import os
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, BigInteger
from sqlalchemy import types as sqltypes

# connection params
user = "avnadmin"
password = "AVNS_F8_KmQ_c_2TpP-mfHjt"
host = "mysql-356ecd9d-hammadmessi48-b201.d.aivencloud.com"
port = 24753
database = "defaultdb"

# use absolute path; use .pem (recommended) but .txt works if contents are correct
ca_cert_path = r"D:\Campus X\SQL\stocks-sql-app\ca.pem"  

engine = create_engine(
    f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}",
    connect_args={"ssl": {"ca": ca_cert_path}},
    pool_pre_ping=True
)

# Read CSV
df5 = pd.read_csv("stocks.csv")

# If the dataframe has an 'id' column (or any extra), drop it because table has autoincrement id
if 'id' in df5.columns:
    df5 = df5.drop(columns=['id'])

# create metadata / table (id PK already defined)
metadata = MetaData()

stock_table = Table(
    'stock', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('symbol', String(50)),
    Column('date', String(50)),
    Column('open', Float),
    Column('high', Float),
    Column('low', Float),
    Column('close', Float),
    Column('volume', BigInteger),
    Column('month', String(50)),
    Column('year', Integer)
)

# Create the table if it doesn't exist
metadata.create_all(engine)

# Optional: map pandas dtypes -> SQL types explicitly to avoid type inference problems
dtype_map = {
    "symbol": sqltypes.VARCHAR(length=50),
    "date": sqltypes.VARCHAR(length=50),
    "open": sqltypes.Float(),
    "high": sqltypes.Float(),
    "low": sqltypes.Float(),
    "close": sqltypes.Float(),
    "volume": sqltypes.BigInteger(),
    "month": sqltypes.VARCHAR(length=50),
    "year": sqltypes.INTEGER(),
}

# Insert in chunks for stability (and use multi-insert for speed)
df5.to_sql(
    "stock",
    con=engine,
    if_exists="append",
    index=False,
    dtype=dtype_map,
    method="multi",
    chunksize=1000
)

print("Upload finished ✅")

# quick verification
with engine.connect() as conn:
    result = conn.execute("SELECT COUNT(*) FROM stock;")
    print("Rows in stock table:", result.scalar())

Upload finished ✅

ObjectNotExecutableError: Not an executable object: 'SELECT COUNT(*) FROM stock;'

In [1]:
import pandas as pd
from sqlalchemy import create_engine
df3 = pd.read_csv('dirty_cafe_sales.csv')
engine = create_engine('mysql+pymysql://root:@localhost/campusx')
df3.to_sql('cafe',con = engine)

10000