## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


###`Q-1` Find out top 10 countries' which have maximum A and D values.


###`Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

In [ ]:
# Q1
select t1.Country,max(t1.A),max(t2.D) from task34.country_ab t1
JOIN
task34.country_cd t2
on t1.Country = t2.Country
group by t1.Country
order by max(t1.A) desc ,max(t2.D) desc LIMIT 10



#Q2
select t1.Region,max(t2.CL) from task34.country_ab t1
JOIN
task34.country_cl t2
on t1.Country = t2.Country
where t2.Edition = '2020' and t1.Edition = '2020'
group by t1.Region
order by max(t2.CL) desc

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

###`Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

###`Q-6:` Sales man who has generated most revenue. Show top 5.

###`Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

In [ ]:
# q3
select t1.ProductID,t1.Name,sum(t2.Quantity)
FROM task34.products t1
join
task34.sales1 t2
on t1.ProductID = t2.ProductID
group by t1.ProductID,t1.Name
order by sum(t2.Quantity) DESC limit 5

#q4
select t1.FirstName ,sum(t2.Quantity)
FROM task34.employees t1
join
task34.sales1 t2
on t1.EmployeeID = t2.SalesPersonID
group by t1.FirstName
order by sum(t2.Quantity)  DESC LIMIT 5

#Q5
select t1.FirstName ,count(distinct t2.CustomerID)
FROM task34.employees t1
join
task34.sales1 t2
on t1.EmployeeID = t2.SalesPersonID
group by t1.FirstName
order by count(distinct t2.CustomerID)  DESC LIMIT 5


#q6
select t1.FirstName,sum(t3.Price*t2.Quantity)
FROM task34.employees t1
join
task34.sales1 t2
on t1.EmployeeID = t2.SalesPersonID
join
task34.products t3

on t2.ProductID = t3.ProductID
group by t1.FirstName
order by sum(t3.Price*t2.Quantity) DESC limit 5


#q7
select t3.FirstName,count(*)
FROM task34.employees t1
join
task34.sales1 t2
on t1.EmployeeID = t2.SalesPersonID
join
task34.customers t3

on t2.CustomerID = t3.CustomerID
group by t3.FirstName
having count(*) > 10

#q8
select t1.FirstName ,count(distinct t2.CustomerID)
FROM task34.employees t1
join
task34.sales1 t2
on t1.EmployeeID = t2.SalesPersonID
group by t1.FirstName
having count(distinct t2.CustomerID) > 5
order by count(distinct t2.CustomerID)

#q9

select t1.FirstName ,count(distinct t2.CustomerID)
FROM task34.employees t1
join
task34.sales1 t2
on t1.EmployeeID = t2.SalesPersonID
group by t1.FirstName
order by count(distinct t2.CustomerID)  DESC LIMIT 5