In [2]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [3]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [4]:
ans = {}
teams_list = df['Team'].unique()
for i in teams_list:
  attempts = df[df['Team'] == i]['Total Attempts'].sum()
  on_target = df[df['Team'] == i]['On Target'].sum()
  result = float(round((on_target/attempts)*100,2))
  ans[i] = result

dict(sorted(ans.items(),key=lambda x:x[1],reverse=True))

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [5]:
# code here
data = df['Against'].value_counts() + df['Team'].value_counts()
data = data.reset_index()
data['most_match_played'] = data['count'].rank(ascending=False,method='first')
data.sort_values('most_match_played')

             index  count  most_match_played
0        Argentina   14.0                1.0
7          Croatia   14.0                2.0
19         Morocco   14.0                3.0
12          France   13.0                4.0
3           Brazil   10.0                5.0
10         England   10.0                6.0
20     Netherlands   10.0                7.0
22        Portugal   10.0                8.0
1        Australia    8.0                9.0
16           Japan    8.0               10.0
17  Korea Republic    8.0               11.0
21          Poland    8.0               12.0
25         Senegal    8.0               13.0
27           Spain    8.0               14.0
28     Switzerland    8.0               15.0
30   United States    8.0               16.0
2          Belgium    6.0               17.0
4         Cameroon    6.0               18.0
5           Canada    6.0               19.0
6       Costa Rica    6.0               20.0
8          Denmark    6.0               21.0
9          Ecuador    6.0               22.0
13         Germany    6.0               23.0
14           Ghana    6.0               24.0
15            Iran    6.0               25.0
18          Mexico    6.0               26.0
23           Qatar    6.0               27.0
24    Saudi Arabia    6.0               28.0
26          Serbia    6.0               29.0
29         Tunisia    6.0               30.0
31         Uruguay    6.0               31.0
32           Wales    6.0               32.0
11            Fram    NaN                NaN

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [6]:
df.drop(columns=["Sl. No","Match No.","Red Cards","Pts"],inplace=True)

In [7]:
df.duplicated().sum()
df[df.duplicated()]

Empty DataFrame
Columns: [Team, Against, Group, Goal, Possession (%), Inside Penalty Area, Outside Penalty Area, Assists, Total Attempts, On Target, Off Target, Target in Penalty, Target from Outside, Left Channel, Left Inside Channel, Central Channel, Right Inside Channel, Right Channel, Receptions MD, Receptions D, Attempted Line Breaks, Completed Line Breaks, Attempted Defensive Line Breaks, Completed Defensive Line Breaks, Yellow Cards, Fouls Against, Offsides, Passes, Passes Completed, Crosses, Crosses Completed, Corners, Free Kicks, Penalties Scored]
Index: []

In [8]:
df.isnull().sum()

Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
dtype: int64

In [9]:
# df['played_matches_rank'].hasnans
# df['played_matches_rank'].fillna(df['played_matches_rank'].mean())
# df['total_match_played'].fillna(df['total_match_played'].mean())

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Team                             128 non-null    object
 1   Against                          128 non-null    object
 2   Group                            128 non-null    object
 3   Goal                             128 non-null    int64
 4   Possession (%)                   128 non-null    int64
 5   Inside Penalty Area              128 non-null    int64
 6   Outside Penalty Area             128 non-null    int64
 7   Assists                          128 non-null    int64
 8   Total Attempts                   128 non-null    int64
 9   On Target                        128 non-null    int64
 10  Off Target                       128 non-null    int64
 11  Target in Penalty                128 non-null    int64
 12  Target from Outside              128 non-null    int64
 13  Left Channel                     128 non-null    int64
 14  Left Inside Channel              128 non-null    int64
 15  Central Channel                  128 non-null    int64
 16  Right Inside Channel             128 non-null    int64
 17  Right Channel                    128 non-null    int64
 18  Receptions MD                    128 non-null    int64
 19  Receptions D                     128 non-null    int64
 20  Attempted Line Breaks            128 non-null    int64
 21  Completed Line Breaks            128 non-null    int64
 22  Attempted Defensive Line Breaks  128 non-null    int64
 23  Completed Defensive Line Breaks  128 non-null    int64
 24  Yellow Cards                     128 non-null    int64
 25  Fouls Against                    128 non-null    int64
 26  Offsides                         128 non-null    int64
 27  Passes                           128 non-null    int64
 28  Passes Completed                 128 non-null    int64
 29  Crosses                          128 non-null    int64
 30  Crosses Completed                128 non-null    int64
 31  Corners                          128 non-null    int64
 32  Free Kicks                       128 non-null    int64
 33  Penalties Scored                 128 non-null    int64
dtypes: int64(31), object(3)
memory usage: 34.1+ KB

In [11]:
df.describe()

,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,1.343750,43.476562,1.203125,0.117188,0.914062,11.257812,4.007812,4.835938,6.914062,4.343750,13.562500,4.671875,4.906250,4.648438,12.234375,92.703125,12.453125,169.281250,109.476562,14.812500,8.265625,1.726562,12.320312,1.976562,502.859375,430.929688,19.523438,4.898438,4.468750,14.250000,0.335938
std,1.342448,11.442403,1.324270,0.322907,1.150333,5.406683,2.588576,2.610630,3.998085,2.733397,6.901729,2.886595,3.080131,2.936573,6.176517,29.440547,18.152399,34.120661,30.776298,7.230458,5.101311,1.514834,4.691983,1.731891,160.160487,160.893724,8.596799,3.520111,2.774852,4.712189,0.941412
min,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,32.000000,0.000000,56.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,225.000000,156.000000,4.000000,0.000000,0.000000,5.000000,0.000000
25%,0.000000,35.000000,0.000000,0.000000,0.000000,7.750000,2.000000,3.000000,4.000000,3.000000,8.000000,2.000000,3.000000,3.000000,8.000000,72.750000,7.000000,149.500000,87.750000,10.000000,5.000000,1.000000,9.000000,1.000000,398.250000,323.250000,13.000000,3.000000,2.000000,11.000000,0.000000
50%,1.000000,45.000000,1.000000,0.000000,1.000000,10.000000,4.000000,4.000000,6.000000,4.000000,12.000000,4.500000,4.000000,4.000000,11.000000,93.000000,9.000000,170.500000,106.000000,15.000000,8.000000,2.000000,12.000000,2.000000,495.500000,419.000000,19.000000,4.000000,4.000000,14.000000,0.000000
75%,2.000000,51.000000,2.000000,0.000000,1.000000,14.000000,6.000000,6.000000,9.000000,5.000000,18.000000,7.000000,6.250000,6.000000,16.250000,111.250000,14.000000,188.000000,129.000000,20.000000,11.000000,2.000000,15.000000,3.000000,589.500000,519.750000,24.000000,6.000000,6.000000,17.000000,0.000000
max,7.000000,78.000000,7.000000,1.000000,6.000000,32.000000,13.000000,17.000000,24.000000,15.000000,36.000000,13.000000,16.000000,19.000000,29.000000,186.000000,192.000000,259.000000,192.000000,40.000000,27.000000,8.000000,30.000000,10.000000,1070.000000,994.000000,53.000000,25.000000,14.000000,30.000000,5.000000

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [12]:
# code here
df['Rank'] = df['Team'].rank(method='first')
df['Rank'] = df['Rank'].astype(np.int16)
df.set_index('Rank',inplace=True)
df.sort_index()

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
2,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
3,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0
4,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,8,4,711,635,6,1,1,15,0
5,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
6,Argentina,Croatia,C,3,34,3,0,1,10,7,2,7,3,8,9,7,3,2,121,7,147,91,17,7,2,15,1,408,344,8,2,2,6,1
7,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5
8,Australia,France,D,1,35,1,0,1,4,1,3,2,2,11,2,5,1,9,66,7,133,84,15,7,3,11,0,466,399,9,2,1,5,0
9,Australia,Tunisia,D,1,31,1,0,1,8,2,3,5,3,11,3,4,7,19,111,8,171,91,19,10,0,15,0,334,239,23,4,2,19,0
10,Australia,Denmark,D,1,24,1,0,1,8,4,2,3,5,9,2,2,1,11,93,8,166,81,17,7,2,11,1,286,187,11,2,2,13,0
11,Australia,Argentina,D,1,35,0,0,0,5,2,2,3,2,8,1,2,6,9,60,8,146,92,12,7,2,15,0,450,381,15,2,3,11,0
12,Belgium,Canada,F,1,46,1,0,1,9,3,6,6,3,6,3,5,2,6,93,8,175,118,13,6,3,11,0,512,439,8,5,4,15,0
13,Belgium,Morocco,F,0,55,0,0,0,10,4,4,5,5,12,8,3,4,9,91,3,167,123,8,3,1,10,3,685,617,24,5,9,17,0
14,Belgium,Croatia,F,0,46,0,0,0,15,4,7,12,3,18,5,7,4,9,86,11,195,123,9,6,1,9,0,624,557,27,7,4,11,0
15,Brazil,Serbia,G,2,53,2,0,1,24,10,9,11,13,14,9,10,7,20,125,11,184,134,16,10,0,7,1,585,526,19,3,6,12,0
16,Brazil,Switzerland,G,1,51,1,0,1,9,5,2,6,3,19,12,5,5,11,99,16,164,114,20,11,1,10,3,565,498,26,3,8,18,0
17,Brazil,Cameroon,G,0,56,0,0,0,19,6,11,14,5,20,5,6,7,13,156,9,181,145,15,9,2,14,1,548,491,28,8,11,14,0
18,Brazil,Korea Republic,G,4,47,4,0,3,18,9,8,14,4,20,5,5,7,15,112,17,193,145,21,17,0,8,0,616,556,18,4,5,16,1
19,Brazil,Croatia,G,1,45,1,0,1,20,11,4,12,8,25,10,15,8,20,111,11,185,121,19,10,3,24,3,695,625,25,6,7,25,2
20,Cameroon,Switzerland,G,0,46,0,0,0,7,3,2,6,1,9,12,3,5,18,103,5,182,103,16,4,1,10,2,500,424,20,4,5,14,0
21,Cameroon,Serbia,G,3,38,3,0,3,13,8,3,9,4,5,3,5,4,15,80,15,173,78,22,12,2,8,0,364,271,20,1,4,17,0
22,Cameroon,Brazil,G,1,31,1,0,1,7,3,3,5,2,8,8,4,4,9,73,9,144,92,16,7,5,14,0,295,239,12,3,3,15,0
23,Canada,Belgium,F,0,43,0,0,0,21,4,12,16,5,17,6,8,5,20,117,15,176,123,23,13,2,14,1,448,382,19,6,4,10,0
24,Canada,Croatia,F,1,45,1,0,1,8,2,3,1,7,8,4,3,4,13,46,5,102,70,2,1,2,5,3,514,440,18,5,2,14,0
25,Canada,Morocco,F,1,45,0,0,0,5,0,4,4,1,22,4,2,6,11,75,9,152,89,9,6,4,14,4,536,476,24,6,6,18,0
26,Costa Rica,Spain,E,0,18,0,0,0,0,0,0,0,0,5,0,1,0,1,32,0,86,47,3,0,2,12,7,231,166,9,3,0,11,0
27,Costa Rica,Japan,E,1,38,1,0,1,4,1,1,1,3,8,0,3,1,4,53,0,153,85,3,1,3,9,2,454,376,5,0,0,22,0
28,Costa Rica,Germany,E,2,26,1,0,0,7,5,1,5,2,7,5,3,1,1,118,10,154,103,13,7,1,3,4,347,269,12,3,1,12,0
29,Croatia,Morocco,F,0,53,0,0,0,7,2,2,5,2,12,3,6,5,7,84,9,192,129,8,2,0,11,1,670,601,23,3,5,17,0
30,Croatia,Canada,F,4,39,3,1,4,13,10,3,9,4,7,3,3,3,3,43,8,97,55,7,2,2,13,1,461,390,31,8,5,8,0
31,Croatia,Belgium,F,0,46,0,0,0,11,4,6,7,4,23,7,3,2,12,120,17,226,178,14,8,0,7,4,589,519,28,7,2,9,0
32,Croatia,Japan,F,1,50,1,0,1,17,4,6,10,7,18,7,9,6,28,112,16,259,153,12,8,2,16,0,724,633,53,25,5,16,3
33,Croatia,Brazil,F,1,45,1,0,1,9,1,4,5,4,19,4,2,5,27,131,10,240,180,16,10,2,22,3,715,632,22,5,3,27,4
34,Croatia,Argentina,F,0,54,0,0,0,12,3,7,6,6,18,6,7,4,8,108,3,182,129,9,1,2,8,0,624,551,20,4,4,16,0
35,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0
36,Denmark,Tunisia,D,0,50,0,0,0,12,6,4,7,5,17,4,7,6,18,108,12,207,147,9,6,2,9,1,602,532,34,15,11,11,0
37,Denmark,France,D,1,44,1,0,1,10,2,6,5,5,13,5,3,4,25,105,17,173,132,23,15,2,9,1,537,473,18,4,4,5,0
38,Denmark,Australia,D,0,60,0,0,0,14,3,7,11,3,27,5,4,6,19,130,17,241,172,21,17,1,10,3,650,567,32,5,6,12,0
39,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
40,Ecuador,Netherlands,A,1,36,1,0,0,14,4,5,9,5,10,5,2,5,4,77,8,177,96,13,7,1,12,4,429,353,26,8,5,16,0
41,Ecuador,Senegal,A,1,46,1,0,1,8,4,2,5,3,13,3,1,6,6,67,1,143,77,3,1,0,23,0,448,369,20,6,3,14,0
42,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0
43,England,United States,B,0,51,0,0,0,8,3,4,6,2,11,2,7,5,11,102,10,208,147,23,10,0,9,1,550,488,13,4,3,15,0
44,England,Wales,B,3,58,2,1,2,17,7,6,13,4,10,4,7,12,9,97,9,167,131,13,8,0,9,1,588,529,17,7,6,17,0
45,England,Senegal,B,3,54,3,0,3,8,4,4,7,1,17,6,2,2,13,114,11,184,129,16,12,0,16,0,597,523,19,7,3,12,0
46,England,France,B,1,54,1,0,0,14,6,4,6,8,17,6,4,2,10,88,8,147,108,13,10,1,10,1,508,453,22,5,5,14,1
47,France,Australia,D,4,56,4,0,4,22,7,9,18,4,30,6,3,8,19,106,26,173,135,32,27,0,5,0,734,672,34,17,8,11,0
48,France,Denmark,D,2,44,2,0,2,21,6,8,16,5,15,7,4,1,13,105,11,155,105,16,12,1,4,1,503,437,23,12,6,10,0
49,France,Tunisia,D,0,56,0,0,0,9,3,4,4,5,14,6,5,3,21,101,11,138,99,10,4,0,6,2,636,566,20,5,8,17,0
50,France,Poland,D,3,48,3,0,3,16,7,7,10,6,15,7,2,9,19,113,14,174,111,26,14,1,10,3,540,481,27,4,7,8,0
51,France,England,D,2,36,1,1,2,9,5,3,6,3,15,2,7,2,13,79,7,136,87,14,8,3,14,2,369,310,13,6,2,11,0
52,France,Morocco,D,2,34,2,0,0,14,2,8,12,2,9,6,3,2,6,67,8,126,85,12,8,0,11,4,358,307,5,2,2,13,0
53,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4
54,Germany,Japan,E,1,65,1,0,0,25,8,10,15,10,24,9,14,5,21,145,192,256,192,14,11,0,6,4,827,753,32,9,6,17,1
55,Germany,Spain,E,1,33,1,0,1,10,4,5,7,3,3,3,4,3,8,95,9,143,83,17,7,3,11,5,352,281,13,1,5,15,0
56,Germany,Costa Rica,E,4,61,4,0,4,32,11,17,24,8,29,13,13,12,15,167,28,193,159,34,25,0,9,3,727,661,38,12,14,7,0
57,Ghana,Portugal,H,2,33,2,0,0,8,3,4,2,6,7,9,6,3,3,60,3,157,90,4,1,4,19,1,400,343,12,1,3,15,0
58,Ghana,Korea Republic,H,3,32,3,0,2,8,3,3,7,1,8,3,4,3,7,56,5,122,66,12,5,2,9,1,319,260,13,4,5,14,0
59,Ghana,Uruguay,H,0,46,0,0,0,9,4,4,4,5,12,5,8,4,12,93,8,188,111,13,5,2,18,2,460,377,20,2,5,12,0
60,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1
61,Iran,Wales,B,2,33,1,1,1,21,6,6,7,14,7,3,7,4,7,103,9,185,92,24,10,2,10,2,295,202,26,4,7,11,0
62,Iran,United States,B,0,42,0,0,0,6,2,4,5,1,12,2,5,3,4,77,9,195,102,23,8,3,13,2,463,379,18,3,1,11,0
63,Japan,Germany,E,2,24,2,0,1,11,3,4,11,0,5,0,3,3,11,43,79,136,79,10,8,0,14,4,279,214,15,7,6,10,0
64,Japan,Costa Rica,E,0,47,0,0,0,14,3,5,7,7,28,6,9,3,10,90,4,166,102,7,5,3,22,0,591,522,15,1,5,11,0
65,Japan,Spain,E,2,14,1,1,2,6,3,2,4,2,2,3,1,2,5,50,10,104,57,14,8,3,9,2,225,167,6,3,0,8,0
66,Japan,Croatia,E,1,36,1,0,1,12,4,4,5,7,14,6,6,6,18,87,8,253,137,7,3,0,13,3,545,430,31,6,8,16,1
67,Korea Republic,Uruguay,H,0,38,0,0,0,6,0,5,1,5,15,0,4,4,19,91,8,185,96,17,8,1,10,0,419,340,19,3,3,8,0
68,Korea Republic,Ghana,H,2,53,2,0,2,21,6,8,15,6,22,5,6,8,27,119,19,201,148,24,19,2,13,1,540,477,46,16,12,10,0
69,Korea Republic,Portugal,H,2,34,2,0,0,12,6,4,6,6,9,7,5,2,7,68,8,139,87,11,6,2,9,1,359,304,13,3,5,15,0
70,Korea Republic,Brazil,H,1,44,0,1,0,10,6,2,6,4,19,4,3,5,21,126,15,188,137,20,14,1,13,5,548,486,14,1,4,8,0
71,Mexico,Poland,C,0,49,0,0,0,14,4,7,9,5,20,6,1,3,27,70,16,197,125,10,5,2,14,3,500,426,33,6,6,16,0
72,Mexico,Argentina,C,0,36,0,0,0,4,1,2,1,3,8,1,1,2,11,52,5,127,66,13,5,4,19,4,356,287,17,4,2,17,0
73,Mexico,Saudi Arabia,C,2,55,1,1,1,25,10,8,10,15,16,5,3,7,16,119,17,198,121,33,16,1,18,6,412,336,34,6,8,22,0
74,Morocco,Croatia,F,0,30,0,0,0,7,2,0,3,4,8,1,6,0,11,47,4,154,85,4,1,1,17,0,365,296,13,2,0,12,0
75,Morocco,Belgium,F,2,32,1,1,1,11,4,7,5,6,10,3,2,1,11,51,6,139,87,5,2,1,14,3,336,290,9,4,1,13,0
76,Morocco,Canada,F,2,36,1,1,1,7,2,3,4,3,6,0,3,4,5,52,7,157,82,8,2,0,14,4,391,315,9,1,2,18,0
77,Morocco,Spain,F,0,20,0,0,0,6,3,3,3,3,11,1,0,2,8,66,10,155,86,3,3,1,15,5,331,235,11,4,0,18,3
78,Morocco,Portugal,F,1,22,1,0,1,9,3,6,5,4,4,1,4,1,3,48,6,128,63,13,3,3,15,2,229,171,8,3,3,11,0
79,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0
80,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0
81,Netherlands,Senegal,A,2,41,2,0,1,10,3,4,6,4,11,2,2,7,20,86,10,168,108,10,7,2,13,1,457,386,26,7,7,15,0
82,Netherlands,Ecuador,A,1,46,0,1,1,2,1,1,0,2,8,8,2,4,11,78,7,174,117,1,1,0,15,1,530,454,11,0,2,16,0
83,Netherlands,Qatar,A,2,53,2,0,1,12,4,6,9,3,25,9,8,11,21,115,14,198,173,8,7,1,5,5,786,738,15,4,4,9,0
84,Netherlands,United States,A,3,35,3,0,3,12,6,5,8,4,4,2,4,7,10,84,7,184,115,14,7,2,10,0,403,331,15,5,4,8,0
85,Netherlands,Argentina,A,2,45,2,0,2,5,2,2,3,2,11,7,9,3,15,112,5,194,130,15,6,4,30,1,651,557,22,4,2,20,3
86,Poland,Mexico,C,0,32,0,0,0,9,2,4,8,1,8,6,6,4,13,68,5,148,73,4,2,1,16,0,330,244,12,2,5,16,0
87,Poland,Saudi Arabia,C,2,30,2,0,1,8,3,3,8,0,7,2,4,8,13,95,14,150,84,22,12,3,18,0,303,236,19,8,4,15,0
88,Poland,Argentina,C,0,24,0,0,0,4,0,2,1,3,6,2,1,2,3,46,3,79,44,4,0,1,6,0,321,261,5,2,1,12,0
89,Poland,France,C,1,42,1,0,0,11,3,5,8,3,15,2,2,3,10,85,11,156,97,20,12,2,8,1,466,391,18,7,1,11,1
90,Portugal,Ghana,H,3,53,3,0,2,11,5,3,7,4,24,6,7,4,10,109,17,197,150,16,11,2,14,1,630,575,20,5,3,19,1
91,Portugal,Uruguay,H,2,53,1,1,0,14,4,7,4,10,17,9,4,9,11,127,11,170,112,11,7,3,10,2,596,517,16,4,6,15,1
92,Portugal,Korea Republic,H,1,55,1,0,1,12,4,6,5,7,23,7,5,8,12,109,12,178,123,21,12,0,11,5,606,541,22,6,4,10,0
93,Portugal,Switzerland,H,6,43,6,0,5,14,9,2,9,5,8,3,6,6,8,86,9,165,98,16,8,0,12,3,461,392,14,6,6,13,0
94,Portugal,Morocco,H,0,65,0,0,0,11,3,6,7,4,27,10,8,7,20,104,19,167,118,23,18,1,9,2,678,592,33,7,9,17,0
95,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
96,Qatar,Senegal,A,1,42,1,0,1,10,2,7,4,6,7,5,2,5,11,79,9,174,117,13,7,3,7,4,424,353,18,5,6,15,0
97,Qatar,Netherlands,A,0,36,0,0,0,6,4,2,2,4,10,7,5,4,6,86,6,163,116,7,5,0,0,0,457,394,18,4,2,24,0
98,Saudi Arabia,Argentina,C,2,24,2,0,1,3,2,0,3,0,3,2,3,3,8,65,7,147,73,11,4,6,21,1,267,194,12,4,2,17,0
99,Saudi Arabia,Poland,C,0,57,0,0,0,16,5,9,9,7,21,6,5,7,15,119,22,205,153,27,19,2,15,0,560,494,24,4,5,17,0
100,Saudi Arabia,Mexico,C,1,29,1,0,1,10,2,8,6,4,5,3,4,3,11,95,6,178,86,17,5,6,20,2,297,197,9,2,1,23,0
101,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0
102,Senegal,Qatar,A,3,48,3,0,2,12,4,6,10,2,26,4,6,4,18,95,12,184,113,19,9,3,12,3,511,445,20,6,7,11,0
103,Senegal,Ecuador,A,2,32,2,0,0,15,6,5,11,4,14,0,2,7,10,65,8,159,80,12,8,1,11,3,277,200,21,7,6,22,1
104,Senegal,England,A,0,35,0,0,0,10,2,6,4,6,8,1,0,4,9,67,7,159,86,15,7,1,12,0,393,320,13,3,3,16,0
105,Serbia,Brazil,G,0,34,0,0,0,4,0,3,1,3,10,3,4,3,7,69,4,140,91,15,6,3,12,0,403,341,13,3,4,8,0
106,Serbia,Cameroon,G,3,49,2,1,3,16,6,8,11,5,20,4,16,5,12,140,11,184,122,22,12,2,13,4,513,433,23,4,3,8,0
107,Serbia,Switzerland,G,2,45,2,0,1,11,4,6,10,1,17,6,4,4,10,86,7,157,95,10,5,7,18,0,476,390,23,6,2,14,0
108,Spain,Costa Rica,E,7,71,7,0,3,17,7,8,13,4,30,4,8,6,12,143,17,219,177,17,10,0,8,3,1056,994,26,7,5,18,1
109,Spain,Germany,E,1,56,1,0,1,7,3,4,3,4,12,3,2,1,5,115,16,186,146,19,13,1,13,2,647,565,9,2,6,16,0
110,Spain,Japan,E,1,78,1,0,1,14,5,3,7,7,30,9,6,11,22,151,17,190,140,21,15,0,6,2,1070,992,20,2,2,11,0
111,Spain,Morocco,E,0,63,0,0,0,14,2,6,9,5,36,10,8,19,29,136,27,237,164,15,13,1,14,4,1050,975,29,5,8,20,0
112,Switzerland,Cameroon,G,1,43,1,0,1,8,3,4,6,2,19,2,11,6,16,112,13,178,123,21,13,2,12,2,497,437,28,6,11,11,0
113,Switzerland,Brazil,G,0,40,0,0,0,4,0,1,2,2,7,3,4,6,10,86,4,173,100,17,4,1,17,1,488,414,11,3,3,13,0
114,Switzerland,Serbia,G,3,41,3,0,3,14,7,3,10,4,14,7,3,1,12,111,10,157,95,20,8,4,13,0,403,325,13,4,0,18,0
115,Switzerland,Portugal,G,1,48,1,0,0,10,1,7,5,5,18,2,6,2,8,94,8,167,107,17,7,2,10,3,512,436,15,1,6,15,0
116,Tunisia,Denmark,D,0,36,0,0,0,12,1,5,7,5,9,2,2,3,6,76,6,188,98,3,2,1,10,1,406,324,15,4,9,10,0
117,Tunisia,Australia,D,0,50,0,0,0,13,4,5,9,4,12,8,7,6,11,89,13,200,109,23,11,3,16,3,501,396,23,5,5,15,0
118,Tunisia,France,D,1,30,0,1,1,5,3,2,2,3,11,3,4,0,10,95,9,153,96,21,7,1,14,3,328,266,27,4,7,8,0
119,United States,Wales,B,1,51,1,0,1,6,1,4,4,2,14,5,4,4,11,101,12,199,146,23,15,4,15,1,569,509,31,4,5,11,0
120,United States,England,B,0,40,0,0,0,10,2,7,6,4,12,0,1,6,8,74,6,143,88,15,5,0,15,0,427,368,16,2,7,10,0
121,United States,Iran,B,1,45,1,0,1,12,5,4,8,4,11,7,7,5,17,117,17,185,133,27,16,1,10,1,470,413,22,2,5,15,0
122,United States,Netherlands,B,1,52,1,0,1,17,6,5,11,6,13,8,4,9,15,107,19,204,145,15,12,0,5,3,572,499,40,9,5,10,0
123,Uruguay,Korea Republic,H,0,49,0,0,0,10,0,6,7,3,13,4,4,6,14,81,4,146,88,16,7,1,7,1,528,459,16,4,4,10,0
124,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,16,0,390,306,18,5,2,13,0
125,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,11,2,446,361,15,4,2,20,0
126,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,10,1,409,321,15,6,3,15,1
127,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,9,2,508,413,20,5,2,12,0
128,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,16,1,325,261,4,1,1,10,0

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [13]:
dataset1 = pd.read_csv("https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh%2Fpub%3Fgid%3D1562145139%26single%3Dtrue%26output%3Dcsv")
dataset2 = pd.read_csv("https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa%2Fpub%3Fgid%3D1656109608%26single%3Dtrue%26output%3Dcsv")
dataset1.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [14]:
dataset1['Age'].isnull().sum()

np.int64(177)

In [15]:
dataset1.dropna(subset=['Age'],inplace=True)

In [16]:
dataset1['Age'].isnull().sum()

np.int64(0)

In [17]:
dataset2.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [18]:
dataset2['Age'].isnull().sum()

np.int64(86)

In [19]:
dataset2['Age'].fillna(20,inplace=True)

/tmp/ipython-input-19-3528746813.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset2['Age'].fillna(20,inplace=True)

In [20]:
dataset2['Age'].isnull().sum()

np.int64(0)

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [21]:
ipl1 = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv")

In [22]:
to_replace = {
    'Delhi Daredevils' : 'Delhi Capitals',
'Kings XI Punjab' : 'Punjab Kings',
'Rising Pune Supergiants' : 'Rising Pune Supergiant'
}
ipl1 = ipl1.replace(to_replace)

In [23]:
ipl = ipl1[~(ipl1['WinningTeam'].isnull())]

In [24]:
ans = []
column_name = ['Team Name','Matches Played','Win%','Home Win%','Away Win%']
for i in ipl['Team1'].unique():
  data = []
  data.append(i)
  matches_played = ipl[(ipl['Team1'] == i) | (ipl['Team2'] == i)].shape[0]
  data.append(matches_played)
  win_percentage = ((ipl[((ipl['Team1']==i) | (ipl['Team2']==i)) & (ipl['WinningTeam'] == i)].shape[0])/matches_played) * 100
  data.append(win_percentage)
  home_win_percentage = ((ipl[(ipl['Team2']==i) & (ipl['WinningTeam'] == i)].shape[0])/(ipl[(ipl['Team2']==i)].shape[0])) * 100
  data.append(home_win_percentage)
  away_win_percentage = ((ipl[(ipl['Team1']==i) & (ipl['WinningTeam'] == i)].shape[0])/(ipl[(ipl['Team1']==i)].shape[0])) * 100
  data.append(away_win_percentage)
  ans.append(data)

ipl_teams_data = pd.DataFrame(ans,columns=column_name)
ipl_teams_data.set_index('Team Name',inplace=True)
ipl_teams_data.head()

                             Matches Played       Win%  Home Win%  Away Win%
Team Name
Rajasthan Royals                        190  50.526316  46.534653  55.056180
Royal Challengers Bangalore             223  48.878924  48.000000  49.593496
Sunrisers Hyderabad                     152  49.342105  46.987952  52.173913
Delhi Capitals                          222  46.396396  45.871560  46.902655
Chennai Super Kings                     208  58.173077  57.731959  58.558559

###`Q-7:` Venues with most "no result" matches.

In [25]:
# code here
no_result_matches =ipl1[(ipl1['WinningTeam'].isnull())]
# no_result_matches['Venue'].value_counts().head(1)
no_result_matches

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'AB de Villiers', 'MP Stoinis', 'H...","['SV Samson', 'LS Livingstone', 'AM Rahane', '...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'CH Gayle', 'AB de Villiers', 'Man...","['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Capitals,Pune Warriors,Feroz Shah Kotla,Delhi Capitals,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"['NV Ojha', 'DA Warner', 'MS Wade', 'CA Ingram...","['MK Pandey', 'JP Faulkner', 'SC Ganguly', 'RV...",SS Hazare,RJ Tucker

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [26]:
def get_data(i):
  return pd.Series(list(map(lambda x:x.strip(" '"),i.lstrip("['").rstrip("']").split("', '"))))

data1 = ipl[ipl['MatchNumber']=='Final']['Team1Players']
data2 = ipl[ipl['MatchNumber']=='Final']['Team2Players']

ans = pd.Series()

for i in data1:
  x  = get_data(i)
  ans = pd.concat([ans,x],ignore_index=True)

for i in data2:
  x  = get_data(i)
  ans = pd.concat([ans,x],ignore_index=True)

print(ans.value_counts().head(3))

MS Dhoni    10
SK Raina     8
R Ashwin     7
Name: count, dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [27]:

def point_table(season):
  result = []
  columns = ["TeamName","MatchesPlayed","MatchesWon","NoResult","Points"]
  for i in ipl['Team1'].unique():
    data = []
    data.append(i)
    matchesplayed = ipl[(ipl["Season"] == season) & ((ipl['Team1'] == i) | (ipl['Team2'] == i)) ].shape[0]
    data.append(matchesplayed)
    mathceswon = ipl[(ipl["Season"] == season) & ((ipl['Team1'] == i) | (ipl['Team2'] == i)) & (ipl['WinningTeam'] == i) ].shape[0]
    data.append(mathceswon)
    noresult = (ipl[(ipl["Season"] == season) & ((ipl['Team1'] == i) | (ipl['Team2'] == i)) & (ipl['WinningTeam'].isnull()) ].shape[0]) * 1
    data.append(noresult)
    points = mathceswon * 2
    data.append(points)
    result.append(data)
  final = pd.DataFrame(result,columns=columns)
  final.set_index('TeamName',inplace=True)
  final.sort_values('Points',ascending=False,inplace=True)
  return final

x = point_table("2022")
x

                             MatchesPlayed  MatchesWon  NoResult  Points
TeamName
Gujarat Titans                          16          12         0      24
Rajasthan Royals                        17          10         0      20
Royal Challengers Bangalore             16           9         0      18
Lucknow Super Giants                    15           9         0      18
Delhi Capitals                          14           7         0      14
Punjab Kings                            14           7         0      14
Sunrisers Hyderabad                     14           6         0      12
Kolkata Knight Riders                   14           6         0      12
Chennai Super Kings                     14           4         0       8
Mumbai Indians                          14           4         0       8
Rising Pune Supergiant                   0           0         0       0
Gujarat Lions                            0           0         0       0
Pune Warriors                            0           0         0       0
Deccan Chargers                          0           0         0       0
Kochi Tuskers Kerala                     0           0         0       0

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [28]:

def point_table(season):
  result = []
  columns = ["TeamName","MatchesPlayed","MatchesWon","NoResult","Points"]
  for i in ipl['Team1'].unique():
    data = []
    data.append(i)
    matchesplayed = ipl[(ipl["Season"] == season) & ((ipl['Team1'] == i) | (ipl['Team2'] == i)) ].shape[0]
    data.append(matchesplayed)
    mathceswon = ipl[(ipl["Season"] == season) & ((ipl['Team1'] == i) | (ipl['Team2'] == i)) & (ipl['WinningTeam'] == i) ].shape[0]
    data.append(mathceswon)
    noresult = (ipl[(ipl["Season"] == season) & ((ipl['Team1'] == i) | (ipl['Team2'] == i)) & (ipl['WinningTeam'].isnull()) ].shape[0]) * 1
    data.append(noresult)
    points = mathceswon * 2
    data.append(points)
    result.append(data)
  final = pd.DataFrame(result,columns=columns)
  final.set_index('TeamName',inplace=True)
  final.sort_values('Points',ascending=False,inplace=True)
  final['SeasonPosition'] = final['Points'].rank(ascending=False,method='first')
  final['SeasonPosition'] = final['SeasonPosition'].apply(lambda x:"Winner" if x==1 else "Runner" if x==2 else "Third" if x==3 else "Fourth" if x==4 else x)
  return final

x = point_table("2019")
x

,MatchesPlayed,MatchesWon,NoResult,Points,SeasonPosition
TeamName,,,,,
Mumbai Indians,16,11,0,22,Winner
Chennai Super Kings,17,10,0,20,Runner
Delhi Capitals,16,10,0,20,Third
Kolkata Knight Riders,14,6,0,12,Fourth
Punjab Kings,14,6,0,12,5.0
Sunrisers Hyderabad,15,6,0,12,6.0
Royal Challengers Bangalore,13,5,0,10,7.0
Rajasthan Royals,13,5,0,10,8.0
Gujarat Titans,0,0,0,0,9.0
Lucknow Super Giants,0,0,0,0,10.0
Rising Pune Supergiant,0,0,0,0,11.0
Gujarat Lions,0,0,0,0,12.0
Pune Warriors,0,0,0,0,13.0
Deccan Chargers,0,0,0,0,14.0
Kochi Tuskers Kerala,0,0,0,0,15.0